[2018-07-25 08:36] infokujur opened #1 "kestame.rahvaalgatus.ee domeenile suunata"

[2018-07-25 08:41] infokujur opened #2 "Tekstid .md kujule ja eraldi kausta praeguse seisuga"
Praegune seis:
https://docs.google.com/document/d/1DnsO_2-AjN8vjGUkJy4FumlTotGmuzlmN4ZmwG_SXC4/edit

Md failide kaust:
https://drive.google.com/drive/u/0/folders/17AUpPMiJWnT9I-MAld5j_1wa1O-2cNAa

[2018-07-25 08:43] infokujur opened #3 "Google Analytics külge"

[2018-07-25 08:45] infokujur opened #4 "Staatiline kaart avalehele"
Kaart: https://toolbox.estonia.ee/media/1861
Joonised: https://toolbox.estonia.ee/media/950, https://toolbox.estonia.ee/media/984, https://toolbox.estonia.ee/media/1004

[2018-07-25 08:46] infokujur opened #5 "Interaktiivne kaart"
Kaart: https://toolbox.estonia.ee/media/1861 (esialgu pildina staatiline, II etappi jooksul on seda tarvis animeerida. Kui tulevad juurde arutelud, siis seda annab muuta interaktiivseks nönda: kui hiirega kasutaja liigub mõni maakonna peale, maakonna värv muutub valgeks, ilmub pop-up koos arutelude nimekirjaga ja muude vajalikke linkidega konkreetselt selle maakonna lõikes. Hiljem saab juurde ka h

[2018-07-25 08:46] infokujur commented on #5
Räägime selle - kuidas animeerida siis läbi, kui teine etapp võtab terviklikuma vormi.

[2018-07-25 08:48] infokujur opened #6 "Loendur .md kaudu muudetav"

[2018-07-25 08:48] infokujur commented on #5
#4 Selle jätk

[2018-07-25 08:50] infokujur commented on #6
Küsimus: Kas see hakkab ka oma infot mingil muul ajal kuskilt koguma?

[2018-07-25 08:55] infokujur opened #7 "II ankeet - Arutelu tulemuste Google Forms ankeet"
Lahenduste ideekorje nii onlainis kui aruteludelt, ettepanekute esitamiseks ja arutelu tulemuste salvestamiseks täidetakse Google Forms ankeet.

[2018-07-25 08:56] infokujur opened #8 "II ankeet - Arutelu tulemuste Google Forms ankeet tulemuste kuva"

[2018-07-25 08:58] infokujur commented on #8
Siia midagi sellest ankeedist #6

[2018-07-25 09:03] infokujur opened #9 "kestame.rahvaalgatus.ee toomine rahvaalgatus.ee külge"
Mõjukate ettepanekute esitamine allkirjade kogumiseks olemasoleva lahenduse baasil ehk rahvaalgatus.ee mootori taha toomine.

[2018-07-25 09:03] infokujur commented on #9
Praegu on veel lahtine, kuidas sõelutakse mõjukad ettepanekud?
Mis etapis?

[2018-07-25 14:25] moll commented on #3
Analyticsi id-d ka vaja. ;)

[2018-07-25 15:10] #1 closed, assigned to moll

[2018-07-25 15:13] moll opened #10 "PDFi mockup järgi esimene versioon"

[2018-07-26 08:25] infokujur commented on #3
@katjadanilova loob ja kirjutab siia lõimu, kui valmis.

[2018-07-26 08:26] infokujur commented on #10
Lisandusid logode failid, logode kausta.

[2018-07-26 09:07] moll commented on #10
Logod jaluses? @katjadanilova, neid teil vektoris ja/või valgena ka leidub? Praegune sinine lõvi + must tekst sinisel taustal küll hea kombo ei tule. :)

[2018-07-26 09:41] katjadanilova commented on #10
@moll tõepoolest :) leidsin must-valgeid versioone, lisasin kausta. Kultuurimini ja Sisemini logosid nad lubavad kasutada valgena (kas saaksid muuta värvi, veebilehel on neil ainult must olemas). EL logo on ainult must-valge või sinine-valge - aga must-valge peaks ok olema?

[2018-07-26 09:45] moll commented on #10
@katjadanilova: Must-valged vast ajavad asja kenasti ära. Kust need leidsid ja kas seal neid SVG-dena ka oli PDFi ja Illustratori asemel? Kahtlustan, et mitte.

[2018-07-26 10:29] katjadanilova commented on #10
@moll ei olnud, jah. leidsin siit: https://www.valitsus.ee/et/logofailid/otsing?title=kultuuriministeerium

[2018-07-26 11:00] moll commented on #10
Gotcha.

Btw, midagi peaks varsti esilehele tagasijõudmise lingiga ka ette võtma. Sain su meili ettepanekust kasutada "Kogukondlikud arutelud #kestame" pealkirja alles aru, et see pole lehe, vaid saidi pealkiri. See tuli küll üllatusena, sest see asub ja paistab täpselt nagu (alam)lehe pealkiri. Tavaliselt on saidi pealkiri selliselt ainult esilehel ning mujal taandub ta peamenüüsse.

Peamenüü saa

[2018-07-26 16:20] katjadanilova commented on #10
![algatusest](https://user-images.githubusercontent.com/41726243/43274632-53a705c2-9108-11e8-8005-c7cbdb2f717d.png)
vaata palun, kas mõtlesid midagi sellist? et avalehel "avaleht" menüüs ei ole, aga ilmub siis, kui oled teistel lehtedel? Pealkirjad sellisel juhul liiguvad nö headerisse ning sellisel juhul on "Kogukondlikud arutelud #kestame" nagu alamlehe pealkiri.
Menüü tegin lühemaks, olen nõus

[2018-07-26 16:56] katjadanilova commented on #10
siin ka link mõlemale lehele: https://drive.google.com/drive/folders/1bmq0bNVgIveD7BdFkl0GBVxpQKL_82BB

[2018-07-27 01:45] moll commented on #10
@katjadanilova: Peaegu. Ma pakuks ka umbes sellist varianti välja (lingid paremal võivad muutuda):
![screenshot from 2018-07-27 01-29-54](https://user-images.githubusercontent.com/156837/43296736-9f923aa4-913c-11e8-9db5-d4ae6fe09797.png)

Lükkasin ka work-in-progress versiooni https://kestame.rahvaalgatus.ee lehele konkreetsemateks aruteludeks üles. Mobiilile veel kohandamata, "probleemist" leht p

[2018-07-27 01:47] moll commented on #6
Markdowni teda hetkel ei liigutanud, sest tegu ainult kahe numbriga. Muudetav kasvõi siin samas läbi GitHubi editori https://github.com/rahvaalgatus/kestame/blob/master/content/home.haml failis.

[2018-07-27 01:47] #6 closed, assigned to moll

[2018-07-27 01:49] moll commented on #2
Esialgsed tekstid liigutasin kausta. "Probleemist" leht veel lõpetamata, kuid käsitleme seda edasi https://github.com/rahvaalgatus/kestame/issues/10 osana.

[2018-07-27 01:50] moll commented on #4
Käsitleme seda ka edasi läbi https://github.com/rahvaalgatus/kestame/issues/10.

[2018-07-27 01:50] #4 closed, assigned to moll

[2018-07-27 09:48] katjadanilova commented on #3
@moll

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122944734-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122944734-1');
</script>

[2018-07-27 10:53] katjadanilova commented on #6
hea oleks, et muuta saaks kõiki asju ühes failis, ehk ka seda seal, kus tekstid on. Muutusi teen mitte mina, vaid kolmas isik ja tglt ei ole hea, kui neil ligipääs koodile on :)
@infokujur mis arvad?

[2018-07-27 11:42] katjadanilova commented on #10
aitäh lingi eest! näeb täitsa kena välja :) saatsin meeskonnale esimeseks tagasisideringiks.

menüüst:
1) logo "#kestame" sobib. meeskond arutab, kas äkki tahavad "#kuidasmekestame". Annan teada.
2) "Ideekorje" kuvada
3) "Kontakt" on kahtlane, sest sinna võib veel inimesi lisanduda. Hetkel las olla peidetud.

Kuidas suhtud sellesse, et mõni menüülink teha alammenüüdega? Mida see tähendaks mobla ja

[2018-07-27 12:57] infokujur commented on #6
@katjadanilova Usun, et muret ei ole, kuna siin muutes ei muutu see automaatselt vaid selleks peab ühe nupulevajutuse veel tegema (Andri).
Kui kolmandal isikul on ka Githubi konto, siis selle järgi saab näha, et ei ole keegi tundmatu.
Teksti failidsse saab panna selle lingi - nii kolmas isik ei pea ise otsimas käima, vaid tal on kohe selge, mida vaja muuta.

Aga peamine - see on ajutine olukord -

[2018-07-27 14:04] moll commented on #10
Oleneb valikute arvust. Praeguse nelja-viiega pole mujal kui moblas peita vaja. Mu seisukoht üldjuhul on lehtede arvu vähendamise poolt ja seda uute külastajate pärast, kes ei oska informatsiooni tõenäoliselt nii granulaarselt kategoriseerida kui selle autorid. Meie kontekstis võib näiteks segane olla "Algatusest" ja "Probleemist" lehtede vahe. Võiks ju mõelda, et "algatusest" leht räägib probleem

[2018-07-30 07:36] katjadanilova commented on #10
Jätame siis hetkel nii nagu ta on. Lisandub hetkel ainult "Ideekorje". Ma arutan ka võimalust Algatusest ja Probleemist koos rääkida.

Notarize tõin välja menüü kujunduse näitena, mitte nimetamise :)

[2018-07-30 07:36] katjadanilova commented on #6
nüüd kõik selge, tänan selgistuste eest!

[2018-07-31 18:18] moll commented on #3
Lükkasin https://kestame.rahvaalgatus.ee/ lehele üles. Palun testida, kas indikaatorid Google Analyticsis selle peale ka liiguvad.

[2018-07-31 18:25] moll commented on #10
Lisasin ka esmase mobiili- ja tahvliversiooni. Praegu ilma peidetud menüüta, kuniks lingid selginevad. Häirivad lingid päises pisikeses 320px laias telefonis ei tundu. Vähemalt kohe näha, millistest lehtedest sait koosneb.

Ideekorje tõin tagasi. Sisult on ta ka natuke hõre.

"Probleemist" lehe teised sektsioonid lisasin ka Google Docsi. Igat valget-halli sektsiooni ümbritseb õige pisut HTMLi, ses

[2018-07-31 18:29] moll commented on #10
Ahjaa, toetajate logod jalusest on veel puudu. Lisan need ka varsti.

[2018-07-31 18:32] moll commented on #10
Venekeelse lehe tekstid tuleks ka ilmselt lisada või's esilehe link eemaldada.

[2018-08-01 07:11] katjadanilova commented on #10
Tänan Sind! Ma süvenen veel ja annan teistele aega ka vaadata, korjan kõik ettepanekud korraga ja siis annan Sulle tagasisidet. Ilmselt järgmise nädala alguses.
Vaatasin telefonist ja mulle meeldis - näeb kena välja ja menüü ei häiri üldse.

Venekeelsed tekstid on saadetud tõlkesse, peaksid varsti lisanduma. Annan varsti ka teada teistest asjadest, mis hetkel meie poolt puudu on (videod, pdf'id, j

[2018-08-01 07:39] katjadanilova commented on #3
ei liikunud.
vaatasin, et kui proovida lisada selle koodi juppi, siis toimib:

[code]
kui soovid, äkki annan ligipääsu analytics kontole?

[2018-08-01 09:45] moll commented on #3
Võid ehk korra tõesti GA ligipääsu jagada. Vaatan, miks https://github.com/rahvaalgatus/kestame/commit/6fa5d5dc4609156b9f7bc09e5f97d911b1b8a937#commitcomment-29917231 lähenemine armatuurlaua indikaatoreid ei liiguta.

[2018-08-01 10:44] katjadanilova commented on #3
kas sellele aadressile? andri@dot.ee

[2018-08-01 12:19] moll commented on #3
Yep.

[2018-08-01 13:03] katjadanilova commented on #3
tehtud.

[2018-08-01 14:25] moll commented on #3
Tuli välja, et Google Analytics on natuke totram kui esialgu arvasin. Fiksisin. Nüüd paistis analüütika töötavat.

[2018-08-01 14:25] #3 closed, assigned to moll

[2018-08-01 14:38] katjadanilova commented on #3
hurray! näitab kõike kenasti nüüd :)

[2018-08-03 10:16] katjadanilova commented on #10
@moll paar küsimust:
1) esmaspäeval tahaksime näidata lehte toetajatele, selleks on meil logosid vaja. Jõuad lisada?
2) kas SEO peale oled jooksvalt mõelnud? ma palun meie partnereid mainida veebilehte nende lehtedel, aga hea oleks ka muude asjade peale mõelda (sitemap ja keywords?). Keywords võiksid olla: kestame, algatus, inimvara, rahvastik, arutelu, ideekorje.

[2018-08-06 00:27] moll commented on #10
Heip

1. Lisasin kultuuri- ja siseministeeriumi logod jalusesse. Kas Euroopa Liidu lipp oli ka sinna mõeldud? Mõni toetaja veel?
2. Sitemapi all mõtled faili otsingumootorile, kus on kõik lehed kirjeldatud? Kergesti tehtav, kuid kahtlustan, et need viis lehte, mis meil on, leiab iga otsimootor tavalise külastusega üles. :) Keywordside otstarbe kohta ma ei oska öelda. Google väidetavalt ei kasuta n

[2018-08-06 08:26] katjadanilova commented on #10
hei!

1) hea! jah, lipp on ka sinna mõeldud. rohkem toetajaid ei ole.
2) hetkel google ei leia meie lehte. mis oleksid sinu sammud?

[2018-08-06 15:40] katjadanilova commented on #10
@moll
palun võimalusel viia need muudatused sisse enne homset (07.08) keskpäeva.

- [x] viimane EL logo. Tekst logode juures peab ka teistsugune olema: Projekti kaasrahastavad Euroopa Liit Varjupaiga -, Rände- ja Integratsioonifondi kaudu ning Eesti Vabariigi Siseministeerium.

- [x] uuendasime md failid - kas need jõustuvad automaatselt? hetkel on seal avalehe tekstid puudu, kas edastan muudatusi

[2018-08-06 16:05] moll commented on #10
Nii palju automaatselt, et kui ütled, saavad nad käesolevasse _reposse_ kopeeritud. Milliseid esilehe tekste aga mõtled? Sissejuhatust ülal? See on praegu tõesti vaid https://github.com/rahvaalgatus/kestame/blob/master/content/home.haml failis. Kui läheb tihedamaks muutmiseks, saab Markdowni välja viia.

Google'il eksisteerib "Add Your Website" leht kuskil, mille kaudu saate saidi eksistentsist te

[2018-08-06 16:11] moll commented on #10
Uuendasin ka tekste. Vaata ka oma silmaga üle, et näevad välja sellised, nagu ootasite.

[2018-08-06 16:18] moll commented on #10
Kas ELi logo peaks ka kuskile linkima?

[2018-08-06 16:36] katjadanilova commented on #10
Proovime pealkirja alguse viia tekstiga samale joonele. Kõlab hästi.

Õige! unustasin. Tegin seal lühikese paranduse praegu. Kui tekstid on valmis, panen neid ise sinna.

logo on #kuidasmekestame (hetkel "me" puudu keskel)
muu on hea.

ei. jäin mõtlema, et äkki näeb paremini välja, kui kõik logod on ühel real, mitte veerus? kas mahuvad ära?

[2018-08-06 17:43] moll commented on #10
Hetkel peaksid piisavalt laial ekraanil olema nad reas, tahvlil ja moblal veerus. Kitsal ekraanil kolm kõrvuti ei mahtunud. Tahvli ja läpaka ekraani vahel võib esineda koht, kus kaks on kõrvuti ja kolmas uuel real...

Oih, "me" kadus lugedes tõesti ära. Parandasin.

[2018-08-07 07:40] katjadanilova commented on #10
Hommik!

Mõned asjad veel:

- [x] avalehe tekstid github'is uuendatud.
- [x] mobiilis sõidavad jalus logod kontakti peale
- [x] lehele Algatusest on vaja joonist lisada (kus hetkel on ainult pealkiri, ettepanekute teekond poliitika kujundajateni): https://drive.google.com/drive/folders/1a8mSaKQ7a_nmn7e2GHmVcLy6xmzQuU8m

[2018-08-07 08:43] moll commented on #10
Andestust. Tegin ühe korrektuuri peale mobiili vaatamist, mis nad mobiilis ikka kõrvuti jättis. Parandatud!

Hakkasin mõtlema, kas see valesti lugemine ei pruugi teistelgi juhtuda? Eesti keeles on "me" juba verbi käändelõpust järeldatav ja toimetamisharjumusega inimesed võivad asesõnad harjumusest ära jätta.

Ega seda SVG-na ei ole?

[2018-08-07 10:34] katjadanilova commented on #10
mina ka hääletasin kahe käega #kestame eest, aga tuli selline lõplik otsus :)

Kuna need on InDesigni failid, siis svg-d ei ole seal. Vaata, äkki mõni meeldib rohkem. Ta teeb ümber.
<img width="906" alt="image001" src="https://user-images.githubusercontent.com/41726243/43770867-3728f076-9a46-11e8-90da-41675c6ccbdf.png">

- [x] kui pdf'id ikkagi sobivad, siis Probleemist lehele nuppude taga on uuen

[2018-08-07 11:19] moll commented on #10
Ja pikem #kuidaskestame, kuid ilma "me"-ta, ka ei saavutanud populaarsust?

Naljakas, et InDesign SVG-d ei ekspordi. Teen sellest Sketchiga SVG. Tundub, et loeb vektorkomponendid PDFist välja.

[2018-08-07 11:52] moll commented on #10
Jäin PNGi juurde, sest SVG Sketchist peale teksti kurvideks muutmist oli suuruseks pool mega vs PNGi 250kB. Võimalik, et skeem tuleks tekstist laiemaks teha, sest teksti-laiusena on ta loetamatult väike. Tegin ka lingiks, et vähemalt saaks suuremalt näha.

Lisasin ka PDFid "Probleemist" lehele.

[2018-08-07 11:53] moll commented on #10
Nüüd peaks vist senise tagasiside soovid täidetud olema, või jäi mul midagi kahe silma vahele?

[2018-08-07 14:02] katjadanilova commented on #10
tee palun, et link avaneks uues aknas.

arusaadav, et on väike, aga näeb OK välja mu meelest :)

- [x] lisa palun venekeelne leht ka, lõpuks valmis!
https://drive.google.com/drive/folders/1ZEpel-DYceWEWPIGgJszHkw8n_KmDar6

Jaah! Ainult venekeelne leht hetkel jäänud.
Saadan nüüd meeskonnale edasi.

[2018-08-08 06:53] katjadanilova commented on #10
- [x] on olemas ka joonis venekeelsele lehele: https://drive.google.com/drive/folders/1a8mSaKQ7a_nmn7e2GHmVcLy6xmzQuU8m

[2018-08-08 07:22] katjadanilova commented on #10
see on nüüd Search Console osa. automaatselt ei andnud võimalust seadistada, seega palun sind vaadata (google analytics - admin - all products - search console)

[2018-08-09 20:55] moll commented on #10
Vene keel ka üleval: https://kestame.rahvaalgatus.ee/сохранимся/. Lehe URLiks panin hetkel lihtsalt "сохранимся" (eeldatavasti "kestame"), kuid kuna ma vene keelt ei räägi, siis vbla üksikult ta ei sobi.

Tehtav, aga kõigepealt pean uurima, mis probleemi uues aknas avamine lahendab? :) Mobiilis kipuvad uued aknad (või tab'id) relatiivselt tülikad olema, sest kui akna avamist ei märka, lakkab "back

[2018-08-09 20:58] moll commented on #10
Faktilehe linke oli venekeelsel kolm --- üks vähem kui eestikeelsel. See oli taotluslik?

[2018-08-09 21:17] moll commented on #10
Linkisin ka kestame.rahvaalgatus.ee domeeni Analyticsiga ja vajutasin kindluse pärast "Fetch as Google" nuppu Search konsoolis. Ma ei oska öelda, millise konto külge seos läks, nii et kui sul seal miski ligipääs puudub, anna teada.

[2018-08-09 21:23] moll commented on #10
@katjadanilova, kae ka: https://github.com/rahvaalgatus/rahvaalgatus/issues/92.

[2018-08-14 08:53] katjadanilova commented on #10
tead, tegelikult tekkis palve, sest hetkel ei ole arusaadav, mis asi on faktileht ja mis juhtub, kui nupule vajutad. seega tundus ausam, et inimest ei visata lehelt välja, vaid et see leht avaneb uues tabis. Mõtlesin ja pakun lahendust mu murele, mis tundub mobiili kasutajasõbralikum: kas äkki lisame viidet pdfile, nt nii: FAKTILEHT (pdf). Siis teab inimene hästi, et seda annab eraldi aknas avada

[2018-08-26 10:14] katjadanilova commented on #6
@moll muutsin arutelude ja osalejate arv.

[2018-08-26 11:04] moll commented on #6
Lükkasin üles.

[2018-09-05 09:01] katjadanilova commented on #2
@moll Hei! Uuendasime .md faili "Algatusest". Palun laivi lasta.

[2018-09-05 10:52] infokujur commented on #7
See tuleb II etapis.

[2018-09-05 11:04] moll commented on #2
Tehtud!

[2018-09-12 10:13] infokujur opened #11 "I ankeet - Registreeri arutelule ankeet embeddida veebi"
Mocup: https://drive.google.com/open?id=1H1GxBRoCdZDGA2uAFpUeX-yE0YmznvSi

Tekst on peaaegu sama, mis hetkel üleval (ilma esimese kahte ja viimase lauseta).

Värvid: päise värv on #0078ff, aga vot tausta värviga mul küsimus - automaatselt näitab ankeet, et ei võimalda taustafooni muuta. Seega sobiks hall, mis neil on (#f6f6f6), kui aga on võimalik muuta, siis meie enda sobiks paremini: #f0f1f2. Va

[2018-09-12 10:19] infokujur opened #12 "I ankeet - Registreerunute näitamine kaardil (sisend registreerumisankeedi tabelist, mida korrastatakse)"
- Kui toimub registreerumine, siis kaart ei uuene st on vaja luua alaleht, kuhu tiimi liige toob andmed käsitsi, kui on registreeringu üle vaadanud
- Kaardil on erineva värviga ikoonid, sõltuvalt kuupäevast (kui arutelu läbi, värv ja kastikese sisu muutuvad, aga kõik jäävad kaardile viimase päevani)
- Mocup kaardi visandiga: https://drive.google.com/open?id=1i5saxm8NdGux_MX7W6f573W35jyuwCuG

[2018-09-13 04:00] infokujur commented on #5
#12

[2018-09-13 04:04] infokujur commented on #7
Ankeet - https://docs.google.com/forms/d/1A-VX7TsccxmtIdKC0-qR3q96kWOQqnEbbcTP_LUhBeQ

[2018-09-13 04:05] infokujur commented on #7
@katjadanilova - kas see vajab ka eraldi stiliseerimist (kuigi saadetakse eraldi), et oleks sarnane teistega?

[2018-09-13 04:05] infokujur commented on #5
#8

[2018-09-13 04:13] infokujur commented on #12
Tn on mõtekas teha, et skript käib pärimas ühelt alalehelt mingi intervalliga ja tulemused tulevad teisele alalehele, kust skripti allikale valemitega kokku jooksutame. @moll - Mis saa arvad?

[2018-09-13 04:14] infokujur commented on #8
a) muutub arutelude arv avalehel;
b) muutub osalejate arv avalehel

Midagi juhtub ka kaardil, aga see veel tuleb.

[2018-09-13 04:21] infokujur commented on #11
Ankeet ise: https://docs.google.com/forms/d/1DXwRgCv2gBbN8WH86a4TlLbzMHhus5kPfp936na3cQw/edit

[2018-09-13 04:25] infokujur commented on #11
Siin tuleb tähelepanu juhtida - kuidas saab läbi  ankeedi koordinaadid kaardile.
Kuna siin käib meie inimene ankeedi tulemused enne üle (ja tõstab siis lehele, kus skript käib). Ehl võib teha ka nii, et koordinaadid sisetab see inimene, kui Forms ise automaatselt aadressist Lat/Lon ei tee.

[2018-09-13 06:48] katjadanilova commented on #12
ikoon, mida kasutasin mockupis: https://icons8.com/icon/set/Map-Marker/all

[2018-09-13 07:55] katjadanilova commented on #12
kaardirakendus: mapbox.com

[2018-09-13 09:56] moll commented on #12
Ehk andmed ei tule mitte vormi tabelist, vaid teisest käsitsi hallatavast. Okei. Tehke üks lisaks, andke mulle igaks juhuks testimiseks ka muutmisõigused ja heitke link. :)

Mõtled skripti, mis võtab ülalnimetatud tabelist andmed ja kuvab kaardil? Vabalt.

[2018-09-13 12:24] infokujur commented on #12
@moll Panin kirja teele

[2018-09-17 15:24] moll commented on #12
@katjadanilova: Mockupis oleva halli tooni kaardi said Mapboxi kaudu või krabasid mujalt illustratsiooniks?

[2018-09-18 08:37] katjadanilova commented on #12
halli tooni sain Mapboxi kaudu. see on nende üks võimalustest.

[2018-09-18 16:28] moll commented on #12
WIP: https://kestame-next.rahvaalgatus.ee/kalender/
Puudu valdade järgi grupeerimine.

Täislaiuses kalender näeb visuaalselt äge, aga Mapboxi rakenduse vaikimisi käitumine zoomida rulliku peale tähendab, et kaardini jõudes ei pruugi enam lehel alla kerida saada, kui a) ei tea, et peab hiirt valgel alal hoidma või b) valget ala ei ole nähtaval. Üpris frustreeriv. Praegu ei tundu ka, et seda saaks G

[2018-09-18 16:29] moll commented on #11
Näeb päris okei välja kui embeddida: https://kestame-next.rahvaalgatus.ee/korraldajale/
Praegu eraldi URLi peal, kuid kui sobib, võin ka laivi lükata.

[2018-09-18 17:16] moll commented on #10
Su viimased soovid jäid Arvamusfestivali käigus kuidagi tahaplaanile. Andestust.

Hea meelega. Uuendasin Markdownid ja lükkasin koos kaardiga https://kestame-next.rahvaalgatus.ee-le ülevaatamiseks.

Tänaseni katki?

`/rus` tundub kole halva nn lõhnaga URL. Kui mitte kirillitsa, siis kas Ladina tähestikuga vene fraas ei oleks parem? Mõlemal juhul, kuna URL on natuke juba ehk Internetis liigelnud, m

[2018-09-18 18:08] moll commented on #11
Lisasin Google Spreadsheeti ka tulba, mis automaatselt aadressi koordinaatideks teeb. Võite alati käsitsi üle kirjutada.

[2018-09-19 09:04] katjadanilova commented on #12
sa mõtled seda, et ei ole hetkel nimekirjas valdada järgi gruppeerimist? või mida täpsemalt?

on jah, frustreeriv. kas on siis mõtekas proovida seda mitte täislaiuses teha? kas kasutamismugavus muutub sellega?
vaatasin, et frustreeriv on ka see, et kui avaned lehe esimest korda, siis markereid pole kohe näha, enne kui sa ei zoomi veits lähemale..samuti ei ole kusagil ka märguannet, et kaardi annab

[2018-09-19 09:08] katjadanilova commented on #12
selline mõte tuli: avalehel häirib see võimatus hiirega liikuda edasi ilmselt kõige rohkem. kas me saaksime nii teha nt, et enne tuleb osa tulpadega "Algatuses saab igaüks osaleda" ja alles siis kaart? Sellisel juhul inimene näeb ikkagi kõik oma osalemisvõimalused enne ja kui soovib, siis saab edasi liikuda.

[2018-09-19 09:30] katjadanilova commented on #11
me pidime lisama veel ühe küsimuse, nüüd on ankeet veidi pikemaks läinud ja alumine osa ei mahu täies ulatuses. muidu aga kena ja saame laivi lükata.

[2018-09-19 14:49] moll commented on #11
Google'i _embeddimise_ kood sisaldas ja vajas täpset kõrgust, nii et ma ei imesta. Ega see väga jätkusuutlik pole tõesti --- muudavad mõne piksli võrra stiile ja jälle ei klapi. Uuendan igal juhul.

Kas mõte on vorm lükata laivi enne kaarti või on teil mõni päris arutelu juba tabelisse sisestada?

[2018-09-19 23:28] moll commented on #12
Tegin nii seda kui ka vähendasin kaardi laiust. Toonisin kaardist vasakule jääva ala mereroheliseks ja parema halliks, mis jätab peaaegu täislaiuses kaardi mulje, kuid loodetavasti lubab inimestel pisut paremini lehel liikuda.

Ok, vaatan kuskilt sarnase markeriikooni ümbervärvimiseks. Icons8 oma ainult rasterformaadis ja mustalt.

Kuna esilehe lugeri järgi on kaks arutelu olevat juba toimunud, si

[2018-09-19 23:31] moll commented on #11
Lisatud küsimus peaks vist olema radio-buttonitega. Praegu saab mõlemad teineteist välistasvad variandid valida.

[2018-09-21 08:48] moll commented on #11
FYI: Ootan kahe toimunud arutelu sisestamist arutelude tabelisse, et siis midagi laivi lükata. Sain aru, et teil oli tahe eile juba arutelusid koguma hakata.

[2018-09-23 07:38] katjadanilova commented on #11
hei! olen lähetuses ja kuna see on mul vabatahatlik projekt, siis aeg-ajalt pole piisavalt resurssi, et koheselt vastata. vabandan. mul oli üks päris arutelu, mida ka sisestasin ja palun, et tiimiliikmed ülejäänud ka ülesse paneksid. aga arvan, et saame juba laivi lükata.

[2018-09-23 16:21] moll commented on #11
Aa, kõik hästi ja hea teada. Ma ei olnud lihtsalt kindel, kas veeretasin palli enda väljakult teie poolele arusaadavalt. :)

[2018-09-26 15:24] katjadanilova commented on #11
arusaadavalt küll. nüüd on esimesed kolm arutelu üleval.

palun lase laivi veebileht.

[2018-09-26 15:31] katjadanilova commented on #12
kas soovid, et see oleks kusagil failis eraldi kirjas? või lisame tabelisse veergu?

[2018-09-26 16:26] moll commented on #12
Teeme vist praegu tabelisse veeruga. Kindlasti saab selle ka kuidag koordinaatidest läbi GSheetsi tuletada kui numbrid suureks lähevad, aga esialgu võib käsitsi panna. :)

Kuvame Harjumaa alati esimeseks ja pärast tähestiku järjekorras?

[2018-09-26 16:32] katjadanilova commented on #12
jah, võiks nii.
kas ma panen ise tabeli viimase veeruna (K veerg)?

[2018-09-26 16:37] moll commented on #12
Võid panna ka aadressi kõrvale. Järjekord pole oluline. :)

[2018-09-26 16:50] katjadanilova commented on #12
tehtud :)

[2018-09-26 17:08] moll commented on #12
Esilehel on korraldatud arutelude arv. Kas see tuleks kuidagi arutelude arvuga siduda? Siis peaks ka osalenud inimeste arvu tabelisse koguma.

[2018-09-26 17:24] katjadanilova commented on #12
selleks on teine ankeet, mida me veebilehele ei embeddi, vaid saadame käsitsi. aga peale seda, kui tulemused on sisestatud, on neid tõepoolest vaja ka veebilehel näidata. me räägime sellest pikemalt Maarja-Leenaga 01.10 ja siis saame täpsema kirjelduse anda.

[2018-09-26 17:55] moll commented on #12
Lükkasin praegused arutelud üles: https://kestame.rahvaalgatus.ee. Puudu veel värvilised kaardimarkerid.

Kolme arutelu jaoks veel filtreerimist ei lisanud, kuid vaatamata sellele võiks juba mõelda toimunud arutelude visuaalsele eraldusele. Äkki tuleviku omade pealkiri siniseks ja/või toimunud omade tekst kursiivi?

Esilehel kuvame vaikimisi kõiki või ainult tuleviku arutelusid?

[2018-09-26 17:56] moll commented on #11
Lükkasin vormi laivi. Jätkame kas https://github.com/rahvaalgatus/kestame/issues/12 -s või teeme uued issue'd.

[2018-09-26 17:56] #11 closed, assigned to moll

[2018-09-26 17:58] moll commented on #12
Kolmega pole veel näha, aga sorteerisin maakondade arutelud (koodis) nii, et esimestena tuleksid tuleviku omad, varaseim enne, ning teisena toimunud, hilisem enne. Ükskõik, millise visuaalse indikaatori neile valime, on nii neid kergem silmadega eristada.

[2018-09-27 07:57] katjadanilova commented on #12
äkki tuleviku omad siniseks ja toimunud roheliseks? peaks selgituse kuhugi ka välja tooma.

ma kuvaks kõiki, aga samuti värvilise erinevusega.

aitäh Sulle kaasa mõtlemast!!

[2018-10-01 14:25] katjadanilova commented on #12
@moll:
1) kuidas meil hetkel script töötab, ehk kui tihti ta seal tabelist infot võtab ja veebilehel avaldab? Muutsime hommikul asju ja nad ei ole veel nähtavad, seepärast uurin.
2) meil hetkel on lehel kolm arutelu, mis on juba möödas ja varsti (täna-homme) tulevad uued. Kas tegeled palun nende mummukeste värvide ja tulevad/toimunud filtriga?

[2018-10-02 00:12] moll commented on #12
Hei

Lisan homme esimese asjana värvid kaardile!

Üks variant on ka tuleviku omad siniseks ja teised hallikaks teha. Vähem kontrastne värv nagu hall kipub mujalgi nn vanade asjade kuvamiseks olema. Selline kombo on ehk intuitiivsem kui kindlalt legendi vajavad kirkad toonid.

See on seepärast, et momendil midagi automaatselt seda ühte nupuvajutust lehe uuenduseks ei tee. :)  Tahtsin enne pea ärapö

[2018-10-02 12:56] katjadanilova commented on #12
jah, olen nõus. võiks ka nii teha.

see sobiks hästi!

[2018-10-02 13:02] moll commented on #12
Kui saaks mõne tuleviku-arutelu ka tabelisse, siis näeksid, kas ja kuidas hall ja sinine koos klapivad. :) Muidu valmisolek laivis.

[2018-10-02 14:26] moll commented on #12
Väike probleem on meil koordinaatidega. Lisasin varasemalt GSheetsi custom-funktsiooni `GEOCODE`, mis D tulbast aadressi alusel koordinaadid tekitab (stiilis `=GEOCODE(D1)`) . Kahjuks CSV-d eksportides GSheets funktsioone ei jooksuta ja tulba sisu kaob. Kummaliselt aga töötab see natuke aega peale viimast tabeli muutmist, nii et esialgu viga ei märganud. Lahendasin preagu nii, et liigutasin funkts

[2018-10-03 05:51] katjadanilova commented on #12
hmm..meil nüüd üks arutelu lisandus, nii et saame vaadata, kuidas sellega läheb :)

[2018-10-03 09:12] moll commented on #12
Muudatust märgati ja oleks ise laivigi läinud, kui poleks kuupäev olnud ootamatus formaadis ning koordinaadid puudu. :) Kuupäeva sai, jah, vormi vaikimisi järjestusest ISO järjestusse pandud (YYYY-MM-DD), sest USA variant oli veaohtlik ---  kuu ja päev lähevad vahetusse, nagu mul alguses augusti aruteludega läks --- ning polnud kindlust, et GSheets alati ise USA juurde jääb. Koordinaatide probleem

[2018-10-03 11:12] moll commented on #12
Kuna paistad AFK, siis korrigeerisin praegu ise. Kui keegi teine peale sinu sisestab, informeeri teda ka skriptide vormieelistustest. :)

[2018-10-04 10:18] infokujur opened #13 "Arutelul väljatoodud probleemide visuaal"
Uus Eakuse-laadselt, kus ringi keskel kolm kategooriat ning ümber probleemid (suurus määratud olulisusest) ja nende pakutud lahendused lisakliki all.

[2018-10-04 10:18] infokujur opened #14 "Lootuste ja hirmude sõnapilved"

[2018-10-04 11:56] infokujur commented on #8
@moll  https://docs.google.com/forms/d/1EK_Q9Ro-gzRDQ8TbJu0UvNfplIvNhJhI0mpoDruqZ-M/edit

Siin õige ankeet.

[2018-10-04 17:21] moll commented on #8
Saatsin access request päringu ka ankeedi poole teele. Tundub, et selleta ei näe tulemusi ja tabelit, kuhu sõnapilved jm kirja saavad.

[2018-10-09 11:53] katjadanilova commented on #8
õigused antud. kui soovid, võin paroolid ka saata.

[2018-10-09 11:55] katjadanilova commented on #2
@moll uuendasime "Probleemist" lehte. Palun laivi lasta.
NB vahetasime ka lehe pealkirja (Probleemistik Probleemist asemele) - palun vaata, kas parandasin õigetes kohtades?

[2018-10-09 12:08] moll commented on #2
Up. Tahad pealkirja menüüs ka muuta?

[2018-10-09 12:12] katjadanilova commented on #2
jah! tahaks küll :)

[2018-10-09 12:30] moll commented on #2
Ka tehtud. Kas mitte vahepeal ei olnud lehe nimi "Probleemistik" juba? Meenuks nagu.

[2018-10-10 22:34] moll commented on #14
Hei, @katjadanilova! On teil mõni mõte juba, kuhu sõnapilve paigutada võiks? Läheksid kuskile esilehele koos portsu aruteludel tõstatatud probleemide visuaaliga?

[2018-10-10 22:45] moll commented on #8
Mille paroolid? :)

Sain Formsi telgitagused ette, kuid tabeli avamiseks, tuleb välja, vaja veel lisakinnitust. Saatsin päringu teele. :)

[2018-10-11 07:34] katjadanilova commented on #14
“Lootused” ja “hirmud” sõnapilvede osa võiks olla kohe esilehel esimese sissejuhatuse bloki all.
seejärel "algatuses saab igaüks osaleda", seejärel probleemide visuaal ja seejärel kaart. Tundub loogiline, eks?
värvid sõnapilvede jaoks: #808284 (hirmud) ja #0078ff (lootused)
värvid on siit võetud: https://brand.estonia.ee/et/disain/varvid/

[2018-10-11 07:36] katjadanilova commented on #8
google account paroolid, kes selle ankeedi omanik on (meil on eraldi konto selle ankeedi jaoks loodud).
aga andsin praegu õigused.

[2018-10-12 16:43] katjadanilova commented on #6
@moll tegin mõned muudatused avalehel, sh loenduris.
kas me saaksime nüüd loenduri ühendada tulemuste ankeediga? et ei peaks käsitsi selle tegema?
ei leia nüüd selle arutelu ülesse, seega küsin - kas avalehe tekste oli ka plaanis .md failidesse lükkata?

[2018-10-12 16:46] katjadanilova commented on #7
eraldi stiliseerimist ei vaja.

[2018-10-12 16:48] katjadanilova commented on #14
@moll  kas su jaoks piisab infot, et asuda neid tegema? või peaksin veel miskit ette valmistama?

[2018-10-12 16:51] katjadanilova commented on #13
siin on värvid jaotatud nõnda, et iga valdkond (kokku on kolm valdkonda - sündivus, tööhõive ja ränne) on oma värvi. sündivus: #8b7883, tööhõive: #65a580; ränne: #2b7aa1

@moll kas peaks täpsemalt soovitud tulemust kirjeldama või on sul pilt olemas peas?

[2018-10-15 22:14] moll commented on #14
@katjadanilova, praegu klaar. Tänu! Igaks juhuks küsin ka üle, on teil pilvede ja visuaali jaoks tähtaeg ka mõtteis? Niipea kui valmis, laivi, või ootame mõnd kindlat kuupäeva?

[2018-10-16 08:22] katjadanilova commented on #14
tore oleks neid asap valmis teha. iseenesest juba sel nädalal peaksid esimesed tulemused jõudma ankeeti.

[2018-10-16 08:27] katjadanilova commented on #14
uurisin lisaks - kuna me peame osalejate motivatsiooni üleval hoida, siis sooviksime juba praegu öelda, mis päeval on nende tulemused veebis nähtavad. seega - kas saaksid omalt poolt kuupäeva lubada?

[2018-10-17 11:01] moll commented on #5
Sulgen, kuna tänaseks tehtud ja ammu laivis.

[2018-10-17 11:01] #5 closed, assigned to nobody

[2018-10-17 11:08] moll commented on #14
Ära veel osalejatele luba, aga arvan, et homseks saad näidise. :)

Jäin esialgu jälle kahe silma vahele --- räägiti, et ühe sõnapilve asemel on lootused ja hirmud eraldi. Kuidas seda ette näed? Kaks kõrvuti pealkirjadega või ühendame ja eristame värvide alusel? (neile, kes värve näevad. :P)

[2018-10-17 11:11] moll commented on #7
Sulgen, kuna https://github.com/rahvaalgatus/kestame/issues/13 ja https://github.com/rahvaalgatus/kestame/issues/14 tunduvad samad.

[2018-10-17 11:11] #7 closed, assigned to nobody

[2018-10-17 11:11] moll commented on #8
Sulgen, kuna https://github.com/rahvaalgatus/kestame/issues/13 ja https://github.com/rahvaalgatus/kestame/issues/14 tunduvad samad.

[2018-10-17 11:11] #8 closed, assigned to nobody

[2018-10-17 11:49] moll commented on #12
@katjadanilova, mäletaksin nagu kuskilt, et palusid esilehe arutelude loendaja ka tabeliga ühendada, kuid ei leia seda ühestki GitHub _issue_'st hetkel. Tegin selle täienduse kiirelt ära. Osalejate arv jätkuvalt staatiline.

Kas muu kaardi ümber on praegu okei? Kui nii, võib vast _issue_ sulgeda.

[2018-10-17 11:51] moll commented on #10
@katjadanilova, nähes, et liigutasid _Projects_ vaates _issue_ "Valmis" tulpa, siis kas sellest võib järeldada, et kirillitsa URLi osas mõtlesid ümber ja jääb praegune? :) Kui nii, siis kas võib sellegi _issue_ tehtuks lugeda?

[2018-10-17 11:52] moll commented on #9
Sulgeksin selle issue, kuniks #kuidasmekestame + RA uuesti teemaks tuleb. Vaevalt ta vahepeal kogemata meelest läheb. :)

[2018-10-17 11:52] #9 closed, assigned to nobody

[2018-10-17 12:02] moll commented on #13
@katjadanilova, gaks juhuks kinnitaksin siiski üle, kas sain nägemusest õigesti aru. :)

- [Uus Eakuse](https://uuseakus.rahvaalgatus.ee/)-laadselt sõõrik kolme kategooriaga keskel.
- Kas sõõriku sees peaks kategooriat kirjeldav tekst asetsema?
- Sõõriku ümber väiksemad (ka värvitud, eks?) ringid, mis kujutavad erinevaid aruteludel tõstatatud probleeme.
- Ringide keskel pakutud lahenduste arv.
- R

[2018-10-17 13:56] katjadanilova commented on #10
ei mõelnud ümber, aga unustasin.

äkki siis nii: /o-nas ?

[2018-10-17 13:59] katjadanilova commented on #14
jehuu!
sõnapilved võiks kõrvuti olla, erinevate pealkirjadega.
Saadan peatselt pealkirjad ja selgitavad laused.

[2018-10-17 14:03] katjadanilova commented on #12
palusin jah .. isegi hiljuti uuesti sellest justkui kirjutasin. igatahes - aitäh!
kas osalejate arvu teed ka automaatseks?

kaardi kohta on ainult üks küsimus jäänud - kas saab niimoodi teha, et kui leht avaneb, siis see kaart on kohe veits rohkem sisse zoomitud (et oleks ikoone ka näha kohe). hetkel justkui ei ole seal midagi.

[2018-10-17 14:14] moll commented on #6
Loenduri arutelu jätkub https://github.com/rahvaalgatus/kestame/issues/6.

Avalehe tekste tervikuna praegu polnud plaanis _Markdownida_, sest igaühte on vaid üks paragrahv ja kõik eraldi ning ümbritsetud küljenduse pärast HTMLiga. Kas mõni neist tahab rohkem muutmist, et eraldi Markdowni faili liigutamine selle lihtsamaks teeks? GitHubi editorist, millega sa vist muutused teinud oled, jääb puudu?

[2018-10-17 14:18] moll commented on #12
Palun-palun. Ja leidsin, kus viimati teemaks tuli: https://github.com/rahvaalgatus/kestame/issues/6

Võib. Uus tulp samas arutelude tabelis sobiks?

Zoom levelit saab muuta. Esialgu valisin ta selliselt, et terve Eesti näha oleks. Ikoonid peaksid nähtaval olema aga igal tasemel. Kas sul kuvab erinevalt kui mul (Firefox Linuxi alt)?

![screenshot from 2018-10-17 14-18-15](https://user-images.github

[2018-10-17 14:20] moll commented on #10
Vabalt. Muudan ja suunan vana sinna.

[2018-10-18 06:50] katjadanilova commented on #12
meil kolmel on nii:
<img width="1080" alt="screenshot 2018-10-18 09 49 56" src="https://user-images.githubusercontent.com/41726243/47136088-44376b00-d2bb-11e8-9f18-47a08eadbbbc.png">

[2018-10-18 06:53] katjadanilova commented on #12
selgus veel üks huvitav asi:
kui arutelud toimuvad samas kohas, aga erineval ajal, siis kaardil on nähtav ainult üks ja esimene. Kui esimene arutelu möödub, siis teine automaatselt vist muutub möödunuks ka. See juhtus Saaremaa aruteludega:

2018-10-15 | 4:00:00 PM | Kuressare vabakontor "EDUkontor" | Saaremaa | Eesti keeles | Saaremaa sädeinimeste arutelu-läbimäng I | Maris Rebel | 56986981 | mari

[2018-10-18 10:28] moll commented on #12
Mis brauserid need on? Huvitav, miks Mapbox erinevalt käitub. Kas alait esimese zoomimise peale ilmuvad? Isegi kui zoomid välja?

Ahjaa. Identsete koordinaatidega arutelud kuvatakse tõesti üksteise peal ja ju siis must sinisel. Kalendri lehelt näeb, et üks teist muul viisil ei mõjuta: https://kestame.rahvaalgatus.ee/kalender/. Mis sellele hea lahendus olla võiks? Kuvada alati toimumata arutelu pea

[2018-10-18 17:05] katjadanilova commented on #14
Selle sektsiooni pealkiri: Hirmud ja lootused
Selle selgitav tekst: Mõeldes prognoosidele, mille järgi tänaste trendide jätkudes langeb rahvastiku arv juba selle sajandi lõpuks alla 800 000 inimese, jagasid #kuidasmekestame aruteludel osalejad järgmiseid lootusi ja hirme.

Iga sõnapilve pealkiri:
Mida me loodame?
Mida me kardame?

[2018-10-18 17:06] moll commented on #14
Sõnapilv on tehniliselt valmis katsetusteks. Kasutab telgitagustes https://www.jasondavies.com/wordcloud/ mootorit ja genereerib SVG.
- Kas näed ette ka fraase, mitte ainult üksikuid sõnu?
- Kui suurelt kuvame? Kaks kõrvuti lehe täislaiuses jätab umbes 500px per pilv.
- Kas paigutame ka sõnu keerates või jätame kõik horisontaalselt?

Vaikimisi "probleemistiku" filtreerimata sõnadega ja horisontaal

[2018-10-18 17:06] katjadanilova commented on #13
Vastan iga punkti kohta eraldi:
Uus Eakuse-laadselt sõõrik kolme kategooriaga keskel. - JAH
Kas sõõriku sees peaks kategooriat kirjeldav tekst asetsema? - täpselt ma ei mõista, kas see tähendab, et nt “sündimus” oleks ühe lausega lahti kirjutatud? Kas see visuaalselt mahub? Kui, siis igaks juhuks panen kohe kaasa ka tekstid, mida kasutame kolme fookusteema kirjeldamiseks.
Sõõriku ümber väiksemad (

[2018-10-18 17:11] katjadanilova commented on #14
nii.. mõtleme. võiksid olla fraasid, sest muidu ongi meil "ja" ja "on" kõige popimad. usun, et võiksime proovida nii mõelda, et meie Maris sisestab fraasid kuhugi failisse käsitsi, et need puhtamad oleks ja ilma keelevigadeta ja et näiteks ta teeb nii, et need fraasid oleksid ka sarnased, kui hirm või lootus on sisuliselt sarnane. kas see aitaks ka visuaalsele elegantsusele kaasa?

hea oleks proov

[2018-10-18 17:20] moll commented on #14
Sidesõnad tuleks üksikuid sõnu kuvades nkn välja võtta, jap. Mu test jättis nad lihtsalt sisse, sest ülejäänud sõnad esinesid vaid korra ja jäid seepärast sama suureks. Sõnad ja nende olulisus (mille saab panna suuruse ja/või värviga seosesse) tuleks parima tulemuse nimel tõenäoliselt, jah, käsitsi kuskile tabelisse panna. Äkki siis kaks tulpa--- üks tegur (koefitsient) ja teine sõna? Mida suurem

[2018-10-19 07:44] katjadanilova commented on #14
jah, tundub üsna puhtaks lahenduseks! kas selleks tabeliks saaks olla tulemuste tabel? Siis on meil kõik ühes kohas? Kas selle jaoks teeme eraldi lehe tabelis või piisab mõnest olemasolevast?

[2018-10-19 13:29] moll commented on #14
Muidugi sama tabel, kuid kumba mõtlesid? Seda, kuhu arutelude tulemused tulevad? Eraldi leht, üks per pilv, sobib hästi. Tegin ühe näidiseks.

[2018-10-22 01:37] moll commented on #14
![cloud](https://user-images.githubusercontent.com/156837/47274690-640aaf80-d597-11e8-9157-83894aa52e82.png)

Kahtlustan, et säherdune sõnapilve genereerimine ei vii meid visuaalselt hea tulemuseni. Esiteks saab see teil olema väga aeganõudev nikerdamine, kui katsetustsükkel käib läbi mingi intervalli tagant jooksva skripti. Teiseks, isegi kui käsureaprogrammi tabelit muutva inimese arvutisse paig

[2018-10-22 08:02] katjadanilova commented on #14
täpsustan, kas sain sinust õigesti aru. Kas pakud, et scripti ja tabeli kaudu tehtava sõnadepilve asemel me võiks aeg-ajalt laadida oma sõnad wordclouds.com keskkonda, saata sulle koodi ja sa paned selle ülesse? aeg-ajalt tähendaks näiteks korra nädalas?
alternatiivina võiksime me mõelda ka mingist muust visualisatsioonist? Pirukast või graafikust, näiteks?

[2018-10-22 11:36] moll commented on #14
Yep! Nad kõik vist ekspordivad ainult pilte tegelikult. Reaalajas jooksmiseks (a la JavaScript meie saidil) ei pruugi need paigutusalgoritmid olla piisavalt kiired niikuinii, eriti mobiilides. Ja kuna tegu on pitlidega, saab neil niiehknaa käsitsi peale esmast genereerimist kohendada. Esialgu mõeldud täisautomatiseeritud lahendus oleks ka pildi _offline_'is genereerinud.

Ühe või paari pildi uuend

[2018-10-22 16:47] katjadanilova commented on #14
hei
github oli täna maas ma saan aru. ma kommenteerisin, aga ei tea, kas nägid?
ma oma kommentaari ei näe.
mul oli seal küsimus-täpsustus. Saan ma õigesti aru, et sinu soovitus on,
et me aeg-ajalt kasutades wordcloudsi teeme käsitsi cloudi ja saadame sulle
koodi embeddimiseks?
aeg-ajalt oleks siis korra nädalas.
või võiksime alternatiivi peale mõelda, et nt teha piruka või tavapärase
graafiku kuju

[2018-10-23 01:40] moll commented on #13
Nende mõne toimunud arutelu pealt saame natuke juba andmeid mängimiseks, eks? Tegin arutelude tulemuste tabelisse lehe "Probleemid" struktuuri ettepanekuga: Igal real üks probleem, kuid lahendused ühes tulbas reavahega eraldatud. Olulisus lihtsalt eraldi tulbas numbrina.
Kas see haakuks teie töövooga või on mõni teine struktuur käepärasem täitjale?

[2018-10-23 09:03] katjadanilova commented on #12
jah, võiks nii teha. sest ei tea hetkel, äkki mitte ainult Saaremaal sama asi ette tuleb.

ei tea, kas tegid midagi, aga nüüd ka väga zoomitud out näitab kõik kenasti.

uus tulp sobiks. arutelude tulemuste tabelis? või kus täpsemalt? hetkel peaks olema juba 6 arutelu ja 78 inimest.

[2018-10-23 09:06] katjadanilova opened #16 "Video "Kalender" lehele"
Videoüleskutse lisada alamlehele “kalender”, kohe päise alla, enne teksti - lisasin video faili drive-i kataloogi (https://drive.google.com/drive/folders/1a8mSaKQ7a_nmn7e2GHmVcLy6xmzQuU8m)

[2018-10-23 09:09] katjadanilova opened #17 "uuendada faktilehed "Probleemistik" lehel"
https://drive.google.com/drive/folders/1a8mSaKQ7a_nmn7e2GHmVcLy6xmzQuU8m

[2018-10-23 09:13] katjadanilova commented on #14
siin on esimesed näidised sellest, mis saab olema olla. saan ma õigesti aru, et parem on .pdf kujul säilitada? või png?
need on näidised, kui kinnitad, et sobivad, saadan variandid veebilehe jaoks.
[lootused_1.pdf](https://github.com/rahvaalgatus/kestame/files/2505399/lootused_1.pdf)
![hirmud_1](https://user-images.githubusercontent.com/41726243/47349758-f658a380-d6bc-11e8-838a-5e863ed72bd5.png)

[2018-10-23 12:57] moll commented on #14
Lehele paneme kas vektorpildi (SVG) või rasterpildi (PNGi). PDF kahjuks pildina ei tööta. Vast on meie puhul kindlaim PNG, sest SVG puhul tuleb kas fail panna viitama me serveris olevale Aino fondile või asendada tekst kurvidega.

Et sõnapilv ka telefonides ja uutel ekraanidel terav oleks, tasub ta vähemalt 2x suuremalt salvestada kui teda kuvatakse. Lauaarvutil saab kõrvuti olevate pilvede laiuse

[2018-10-23 13:11] moll commented on #17
Done!

[2018-10-23 13:11] #17 closed, assigned to moll

[2018-10-23 13:13] moll commented on #16
Äkki paneks YouTube'i ja _embed_-iks sealt? Nii saaksid kehvema ühenduse taga olevad arvutid/telefonid automaatselt väiksema videofaili jms.

[2018-10-23 13:19] katjadanilova commented on #14
palun testi mind uuesti - kas nüüd on õige?
![wordcloud_test](https://user-images.githubusercontent.com/41726243/47363399-5bbd8c00-d6df-11e8-88fd-85f3343aa753.png)

[2018-10-23 13:32] moll commented on #12
Tehtud. Mapbox peaks nüüd tuleviku arutelusid kuvama toimunute peal.

Pole puutunud, kuid Mapbox ise võis telgitaga küll midagi korrigeerida.

Arutelude registreerimise tabelis, sest selle põhjal kalender tehakse. Lisasin tulba ja panin hetkel esimesse "71", et lehele sama summa jääks. Saate õiged numbrid nullide asemele panna.

[2018-10-23 13:33] moll commented on #14
Su GitHubi attachitud pilti mõtled? Suurus on sel 3000px ja külgedel palju tühja ruumi. ^_^

[2018-10-24 10:30] moll commented on #16
Kui oled ideega päri, siis on teil endal Google'i/YouTube'i konto, mille alla see panna?

[2018-10-24 10:50] katjadanilova commented on #16
Me uurime, kas on mõni kanal kuhu on mõistlik ülesse panna. Kui vastatakse,
annan teada. Täna veel ilmselt.

On Wed, 24 Oct 2018 at 13:30, Andri Möll <notifications@github.com> wrote:

--
Katerina Danilova +372 59185990

[2018-10-24 10:54] moll commented on #16
Vimeo peaks ka olema prii sellisteks juhtudeks.

[2018-10-25 01:23] moll commented on #13
Vahva --- tabelisse on ilmunud päris probleeme ja pakutud lahendusi!

Kahjuks aga kardan, et ringidega visualisatsioonivorm huvitava informatsiooni levikule kaasa küll ei aita. Kiire graafiline näidis, kuidas ta umbes lehel välja näeb:
![screen shot 2018-10-25 at 00 20 04](https://user-images.githubusercontent.com/156837/47469122-d0332080-d7ee-11e8-961f-095f9e437670.png)

Ütleksin, et sellises vor

[2018-10-25 07:16] katjadanilova commented on #16
<iframe src=“https://player.vimeo.com/video/296874043” width=“640" height=“360” frameborder=“0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href=“https://vimeo.com/296874043”>Videokutse #kuidasmekestame arutelule</a> from <a href=“https://vimeo.com/user90973671">#kuidasmekestame</a> on <a href=“https://vimeo.com”>Vimeo</a>.</p>

ja niisama link ka: https://vimeo.com/29

[2018-10-25 07:39] katjadanilova commented on #14
kui teen wordcloudsiga, siis tühi ruum on see, mida ta kaasa annab. Kas soovid, et ma selle ise lõigan äärtelt ära?

veel variant siin sõnumis all. kui soovid, et ma veel korra ümber teeks, palun ütle täpsem suurus. valikus:
<img width="351" alt="screenshot 2018-10-25 10 38 23" src="https://user-images.githubusercontent.com/41726243/47483515-22e9f800-d842-11e8-8ef5-ca1bf1b56eb4.png">

![lootused_1

[2018-10-25 08:01] katjadanilova commented on #12
selle ankeediga on veel üks küsimus tekkinud:

Katja, mis sa arvad, kas meil oleks mõtet veidi arutelude registreerimisvormi muuta - selliselt, et see näitaks ka prognoositava arutelu lõpu aja?
Kui see liiga palju nõuab aega, siis pigem mitte. Kui on aga väga lihtne ja mõne liigutuse küsimus, siis teeks ära.

terv
Maris

Begin forwarded message:

From: Piret Jeedas <piret@ruumiloojad.ee>
Subject:

[2018-10-25 09:31] infokujur commented on #13
Oleme juba üsna lähedal:

Kiiruga vaatan - kui joonistasime kavandit, siis arutasime, et:
- ringi/kasti suurus = probleemi olulisus
- ringi/kasti pealkiri = probleemi nimi
- ringis/kastis pakutud lahenduste arv ja klikates nimekiri

[2018-10-25 12:12] moll commented on #14
Ma ei olnud kindel, kas teed mõne tööriistaga või korrigeerid pärast käsitsi. Võin tühja ruumi külgedelt ka ise eemaldada. Õiget Wordcloud.com-i suurust on tühja ruumi pärast raske öelda, sest 1920px laiuses pildis paistabki umbes 1000px teksti olevat. Panen lehele ja vaatame, kuidas välja näeb!

[2018-10-25 12:35] moll commented on #16
Üleval @ https://kestame.rahvaalgatus.ee/kalender/. Lisasin sinise taustaga alala, sest peaaegu haakub kenasti videos oleva sinise taustaga (video-sinine pole mingil põhjusel küll sama, mis meie taust :P)

![screenshot from 2018-10-25 12-33-00](https://user-images.githubusercontent.com/156837/47500462-64829f00-d852-11e8-8f8d-eba219dd2b9c.png)

[2018-10-25 12:35] #16 closed, assigned to moll

[2018-10-25 12:42] moll commented on #13
Kuhu "ringi pealkiri" läheb?

Ringide asemel kastid tekstiga on kindlasti parem, aga 24+ probleemi ei mahu praeguste pikkade fraasidega täies ära. Siis tasub keskmisest sõõrikust ära öelda ja olemegi tagasi kolme tulba või kaardi-laadse kujunduse juures (Rahvaalgatuse esilehe laadselt). :)

[2018-10-25 12:46] moll commented on #12
Kas see küsimus on mulle? Vabalt. Kas tahame kuvada ajavahemikku (19.00-22.00) või kirjeldada kestust otse (19.00, kestab ~2h)?

[2018-10-25 13:21] moll commented on #14
Wordcloudis ei läinud Aino käiku, eks? Siis võime juba SVG-d ka proovida. Lükkasin aga PNGidega variandi praegu üles: https://kestame.rahvaalgatus.ee. Kuidas tundub?

[2018-10-25 18:16] katjadanilova commented on #12
ajavahemikku :) kas saame ise muuta või on sul kuidagi määratud täpselt, mis tulp mille eest veebilehel vastutab?

[2018-10-25 18:23] moll commented on #12
Ikka täpselt määratud, kuid tulbapealkirja järgi. :) Kas täpsus tundides ajab asja ära? Siis võime teha lisatulba kestustega (näiteks "2" või "1.5") ja panen ta ajavahemikku kuvama.

[2018-10-25 18:47] katjadanilova commented on #12
hea oleks, et ankeedi täitja saaks valida mis kl algab ja mis kl lõpeb ning arutelu juures me näitame "Toimub: kuupäev, kl 16:00-19.00" nt.

[2018-10-25 18:51] moll commented on #12
Ankeet inimesel täitmiseks ja tabel, millest leht genereeritakse, on meil ju eraldi. Kuna kuupäev vajaks niikuinii korrigeerimist ISO formaati (YYYY-MM-DD), siis võime kuupäeva korrigeerimise asendada tundidesse tõlgendamisega. Saab ka lõpukuupäeva ja lõpukellaaja tulpadega, kuid arvan, et kestused on kindlamad --- kui keegi muudab alguskuupäeva, ei pea lõppu liigutama ega juhtu kunagi nii, et lõp

[2018-10-25 19:00] katjadanilova commented on #12
on jah, mingil määral eraldi. võime proovida ka nii nagu sina räägid teha.

[2018-10-25 19:06] moll commented on #12
Panin `duration` tulba kella kõrvale. Kui mugavam ankeedist paste'ida, kui ta kuskil hiljem tuleb, võite liigutada. Lisan lõpukellaaja kuvamise ka varsti.

[2018-10-29 10:22] infokujur commented on #13
Sama nagu siin visuaalil: https://uuseakus.rahvaalgatus.ee/

Kui fraas pikk, siis punktiir järgi. Nii palju teksti ei ole võimalik infograafikule nii ehk naa ära mahutada. Klikates on täispikk asi näha.

[2018-10-29 10:32] infokujur commented on #13
Algne kavand ka siia
![15408091189051620567773](https://user-images.githubusercontent.com/12999094/47644391-aa9f7180-db76-11e8-93ed-fcd9a4836093.jpg)

[2018-10-30 13:19] moll commented on #12
On jäänud mainimata, et lõpukellaaja kuvamine sai laivi lükatud ka 5 päeva tagasi. Tabelis tunduvad aga kõik algatused jätkuvalt null kestusega. Lihtsalt Marisele teada andmata? Äkki tooks ta ka siia, et telefonimängu ei peaks mängima? :)

[2018-10-30 13:19] #12 closed, assigned to nobody

[2018-10-30 14:05] moll commented on #13
Maris:

Kui täpne olla, siis oleme kirjeldanud lahenduse mustandi, kuid graafiliselt on lahtiseid või kinnitamata küsimusi. Näiteks:
- Kuidas lahendused mobiilis (laius u 320px) või portree laadis tahvlis (laius u 768px) välja näevad?
- Kuidas ristkülikud graafiliselt välja näevad?
- Kuidas lahenduste popover välja näeb?

Võime ka otsustada mitte otsustada ja teen esmalt enda äranägemise järgi. :)

[2018-10-30 22:20] marisjogeva commented on #13
Praegu ei ole lahendused igaüks eraldi real, vaid veerus E komadega eraldatud. Kas panen need eraldi ridadele?

[2018-10-30 22:22] moll commented on #13
Pakkusin https://github.com/rahvaalgatus/kestame/issues/13#issuecomment-432053924 -s esialgu reavahed välja, aga suurt vahet ei ole. Komadega on teil tõenäoliselt raske, sest need kipuvad eesti keele lausetes esinema. Võid ise valida, kas semikoolonid, reavahed või mõni muu märgis.

[2018-10-30 23:06] marisjogeva commented on #13
Kui jääb olemasolev lahendus, saan ettepanekud nummerdada, nt: 1. Inimesed olgu õnnelikud. 2. Elu saagu hea jne. Siis saab ehk mugavamalt üle tõsta?

[2018-10-31 00:03] moll commented on #13
Numbrid teeksid selle isegi pisut raskemaks, sest siis tuleb neid eristada teistest lauses esinevatest numbritest, eemaldada nad enne kuvamist, et HTML oma tööd teha saaks jms. :) Kõige lihtsamad ongi kas reavahed või harva esinev interpunktsioon. Kui soovid, võime alati igale probleemi lahendusele tabelis oma rea pühendada, aga siis peaksid lahenduse ridade ees ka probleemid kirjas olema ja see v

[2018-10-31 13:12] katjadanilova commented on #13
@moll ma võtan enda peale joonistamise, et sa saaksid natuke parema ettenägemuse, mida saame veel korra põrgutada ja siis juba töösse lasta. jäin haigeks, aga katsun täna täpsema versiooni valmis teha, sest tuli soov kõiki tulemusi eraldi lehele paigutada ja mitte kuvada neid avalehel. nii et ma katsun selle ideekorje mustandi teha.

[2018-11-01 13:50] katjadanilova commented on #13
@moll võtsime aega ja mõtlesime asjad läbi.
hetkel tundub mõistlik niimoodi teha: veits muudame Avalehe.
Avalehele lisandub nupp "tutvu tulemustega", mis viib lehele, mis hetkel kannab nime "Ideekorje". Värv: #ff4800
[Avaleht 30 10 2018.pdf](https://github.com/rahvaalgatus/kestame/files/2538659/Avaleht.30.10.2018.pdf)

nüüd kõik tulemused viskame hetkel "Ideekorje" lehele. Nimetame selle lehe "Tul

[2018-11-01 14:06] katjadanilova commented on #13
Uued tekstid "Ideekorje" lehe jaoks on .md failis juba olemas.

[2018-11-05 11:54] katjadanilova commented on #13
@moll Andri, on sul kommentaare või küsimuse? saame me sellega edasi minna?

[2018-11-06 00:00] moll commented on #13
Hei! Hakkab looma.

Saab nii automatiseerida kui ka tab'e teha.

Kas numbrid värvitud ribadel viitavad pakutud lahenduste arvule või olulisusele? Eeldan, et nii number kui ka riba pikkus viitab lahenduste arvule ning olulisus määrab vaid järjekorra.

Kuidas see moblas välja võiks näha? Portree-tahvlis vist mahub isegi ära.

Ideenupp tuleb paari nädala pärast, aga tulemuste visualiseerimise ise või

[2018-11-06 00:01] moll commented on #13
Mobiili küsimus võib kehtida ka lahenduste tulpade kohta, kuid eeldan, et ega seal me midagi enamat välja ei mõtle kui lihtsalt kolm tulpa üksteise järel. :)

[2018-11-06 00:27] marisjogeva commented on #13
Vastan ühele: Kas numbrid värvitud ribadel viitavad pakutud lahenduste arvule või olulisusele?
III osas on ainult probleemid ja olulisus (number ja ka riba pikkus)
IV osas näitab teksti ees olev number lahenduste arvu.
Tulemuste visualiseerimise teeks jah nii ruttu kui võimalik ära ja kohe laivi. Kõik on juba põnevil ja ootavad.

.

[2018-11-06 16:28] katjadanilova commented on #13
mobiili osas: kas arvad, et selline pilt, nagu ma pakkusin, moblasse tervikuna ei mahu?
näiteks, võiks nii proovida, et moblas läheb tekst väiksemaks tabelis?

[2018-11-06 16:28] katjadanilova commented on #13
jah!

[2018-11-06 17:42] moll commented on #13
PDFis on probleemid suvalises järjekorras. Kas need peaksid olema olulisuse järjekorras?

Mobiilis on ~320px horisontaalset ruumi ehk u kolmandik PDFi joonisest. See mahutab horisontaalselt enam-vähem kuus-seitse sõna 16px/17px fondiga. Probleemid mahuvad kahele reale küll, aga riba neist paremale mitte. Värvilise riba saaks iga probleemi alla tuua. Teksti ei tahaks väiksemaks teha, sest kahtlusta

[2018-11-06 18:14] katjadanilova commented on #13
see tundub ka sobilik lahendus!

[2018-11-07 09:18] katjadanilova commented on #13
Maris arvas nii: Arvan, et ei pea. Tulba pikkus niikuinii näitab olulisust hästi. Aga kui see on lihtne teha, siis võib-olla on visuaalselt mõjusam, kui tulbad olulisuse järjekorras.

kas tahad, et me selle enne sinuga joonisel vaatame, või teeksid valmis ja siis vaatame? mulle tundub, et selline lahendus on OK, kui olen õigesti tekstist aru saanud :)

[2018-11-07 09:34] katjadanilova commented on #14
kujundaja proovis infogramis teha ja see tundub meile kõigile lihtsam sellisena tööd korraldada :D (kuigi jääb infogram.com logo peale).
siin on uued sõnapilved:
https://infogram.com/parem-ee-sonapilv-hirmud-1hnp27pwzexn2gq?live

https://infogram.com/parem-ee-sonapilv-lootused-1hxj48w5jq0q4vg?live

paned neid palun ülesse (ja seda siis uuendatud Tulemused lehele?)

järgmisel esmaspäeval tulevad uu

[2018-11-07 12:32] moll commented on #13
On lihtne.

Praegu pole vaja. :) Vaatame, mis välja tuleb!

[2018-11-07 12:34] moll commented on #14
Kui need pildiks teha ja mitte embeddida, mis vist on natuke overkill sellise asja jaoks, ei jää kellegi teise logo...

[2018-11-08 11:12] katjadanilova commented on #14
embeddimise eelis on ees, et kui me muudame andmeid, siis muutuvad nad ka embedditud objektil automaatselt. kas äkki saaksime ikkagi embeddida või mis on täpselt põhjuseks selle mitte teha?

[2018-11-09 01:36] moll commented on #13
Panin esimese redaktsiooni probleemide graafikutest https://kestame.rahvaalgatus.ee/tulemused/ lehele üles. Kombineerin ideekorje lehega siis, kui oleme kõik rahul. Puudu on lahenduste kastidel kolmnurk vms avamise märgis. Lisan selle varsti.

Tegin hetkel nii probleemide graafiku kui lahenduste tulbad ilma pealkirja pikkuse piiramiseta. Lööb küll natuke vertikaalse rütmi sassi, kuid ma ei ole vee

[2018-11-12 09:36] katjadanilova commented on #13
täname sind! korjasime tagasisidet ja siin ta on tervikuna:
1) tunnetatud probleemide olulisus:
- saab täitsa nii olla, aga prooviks äkki teksti veidi väiksema fondiga teha (nt 16px 18px asemel)
- pealkirja “Tunnetatud probleemide olulisus” - kirjutaks konkreetsemaks “Milliseid probleeme märgiti olulisemaks?"

2) lahendused:
a) iga pakutud lahendus võiks ikkagi olla nummerdatud, sest hetkel tõepoo

[2018-11-12 18:33] moll commented on #13
Arvan ka, et tasuks lehel iga pakutud lahendus kuvada semantiliste loendina. Nagu siin:
1. A
2. B
3. C

@marisjogeva, selleks peame ikkagi tagasi tulema https://github.com/rahvaalgatus/kestame/issues/13#issuecomment-434514626 teemani. Näen, et oled hetkel tabelisse pannud lahenduste ette järjekorranumbrid. Nagu hoiatasin, see ei ole kahjuks töökindel, sest mitmel lahendusel on omakorda numbrid see

[2018-11-12 19:59] marisjogeva commented on #13
Tahaks semantilist loendit jah. Võtsin järjekorranumbrid ära ja lisasin reavahed (cmd-enter). Vaatan nüüd lubatud tekstid üle.

[2018-11-12 20:23] marisjogeva commented on #13
Muutsin ka md faili (Ideekorje). Puudu on lehelt sõnapilvi sissejuhatavad tekstid. Need tulevad eeldatavasti esilehelt koos piltidega üle?

[2018-11-12 21:11] moll commented on #13
Jaa. Ülal lingitud `/tulemused` leht on vaid meile arutamiseks. Avalikkusele tuleb ta kenasti Ideekorjega kokku nagu soovitud.

[2018-11-13 09:45] katjadanilova commented on #13
@moll Andri, meil oleks vaja tulemustega lehte nädala lõppuni, muidu see kaotab mõtet. On tehtav, eks?

[2018-11-13 14:02] moll commented on #13
Tehtav! Teen ka täna ülalmainitud täiendused ära!

[2018-11-13 14:12] moll commented on #13
@katjadanilova:

[2018-11-13 14:33] katjadanilova commented on #13
<img width="300" alt="screenshot 2018-11-13 16 31 39" src="https://user-images.githubusercontent.com/41726243/48419844-9e640880-e761-11e8-9fd8-c35dad142c35.png">
tekst ja esimene oranžikas tulb ei asu vertikaalselt ühel liinil

[2018-11-14 02:02] moll commented on #14
Lisasin Infogrami [ideekorje näidislehele](https://kestame.rahvaalgatus.ee/tulemused/). Paistavad tiba vähem sobivat kui eelnevad pildid IMO, kuid kuidas sulle tundub? :) Taustavärvi saad ehk graafiku administraatorina Infogramis muuta. Hetkel ei leidnud nende _embed_-imise dokumentatsioonist võimalust.

Negatiivid Infogrami embeddimise juures on:
- ~33.3 kordne lehe suuruse kasv: 7.34MB vs ilma 2

[2018-11-14 02:10] moll commented on #13
Viisin täiendused sisse: https://kestame.rahvaalgatus.ee/tulemused/.
Kas jääb veel midagi silma, mida kohe paremaks teha?

@marisjogeva, eemaldasin ka lahenduste arvu tulba tabelist. Seda pole vaja, kuna arvu saab lahenduste tulbast kätte.

See peakski olema 16px ehk sama suur kui tekst muudel lehtede. Kui mõtlesid, et paar pikslit väiksem font vähendab probleemide ridade arvu, siis see kahjuks ei

[2018-11-14 09:58] katjadanilova commented on #13
heips! võiksime lehe laivi lasta ma arvan.

infogrami kommentaari eest tänan. ma saatsin selle kujundale edasi.

proovisin, et 13px peal on näha erinevust, aga siis on vist tõesti tekst liiga väike. Nii et las ta olla nagu on.

[2018-11-14 12:31] katjadanilova commented on #14
su argumendid tunduvad väga veenvad, et jääda piltide juurde. Kujundaja (Nänsi) tegi selliseid. kas nende kvaliteet on vastuvõetav?
![parem-ee-sonapilv-hirmud](https://user-images.githubusercontent.com/41726243/48482650-ee9ea180-e819-11e8-80f1-f96aa057a3d9.png)
![parem-ee-sonapilv-lootused](https://user-images.githubusercontent.com/41726243/48482652-ee9ea180-e819-11e8-9d63-2ce17da1141f.png)

[2018-11-14 12:33] moll commented on #14
On küll. Muuhulgas, võid ta ju ka GitHubi kutsuda. :)

[2018-11-14 12:37] katjadanilova commented on #14
kutsusin juba ja selle feed'i lingi ka saatsin, aga praegu käib veel minu kaudu :))

[2018-11-14 14:06] moll commented on #14
Aa, ei pannud enne tähele, kuid pildiks tehtud pilvede taustavärv võiks olla kas läbipaistev või `#f0f1f2`, sest see asetseb meil hallil taustal. Kui vaja, võin ka ise töödelda. Lükkasin ta praegu aga valgena üles: https://kestame.rahvaalgatus.ee/ideekorje/

[2018-11-14 14:12] moll commented on #10
https://kestame.rahvaalgatus.ee/сохранимся/ suunab nüüd /o-nas-ile.

[2018-11-14 14:12] #10 closed, assigned to katjadanilova

[2018-11-14 14:13] moll commented on #13
Laivis: https://kestame.rahvaalgatus.ee/ideekorje/
Kuna praegu lahtisi küsimusi ei jäänud, sulgen _issue_. Kui midagi kerkib, võime uuesti avada või uue teha. :)

[2018-11-14 14:13] #13 closed, assigned to moll

[2018-11-14 14:14] moll commented on #13
Monitoorimise skript jälgib nüüd ka probleemide tabelit. Nii arutelude kui probleemide muudatused tabelis kajastuvad hiljemalt 15 minutit peale muudatust lehel.

[2018-11-15 09:18] katjadanilova opened #18 "Avaleht ümber teha"
ma arvan, et see osa jäi märkamata seal visuaali (issue#13) kommentaari juures:

hetkel tundub mõistlik niimoodi teha: veits muudame Avalehe.
Avalehele lisandub nupp "tutvu tulemustega", mis viib lehele, mis hetkel kannab nime "Ideekorje". Värv: #ff4800
[Avaleht 30 10 2018.pdf](https://github.com/rahvaalgatus/kestame/files/2584514/Avaleht.30.10.2018.pdf)

[2018-11-15 09:20] katjadanilova opened #19 "nimetada Ideekorje --> Tulemused"

[2018-11-15 12:26] moll commented on #19
Ma nimetaks siis lehe aadressi ka `/tulemused`-ks ümber.

[2018-11-15 12:26] moll commented on #18
Õigus. Jäi tõepoolest tulemuste lehe tuhinas kahe silma vahele. Tänu meelde tuletamast!

[2018-11-15 12:33] katjadanilova commented on #19
jah!

[2018-11-16 01:49] moll commented on #18
"Kirjutan" link "Tee ettepanek veebis" tulbas viib ka tulemuste lehele. On see taotluslik?

[2018-11-16 01:57] moll commented on #18
Lisasin ka "Tulemused" nupud esilehele. Kuidas videoga lood on? See jääb esilehelt välja?

[2018-11-16 01:58] moll commented on #19
Tehtud!

[2018-11-16 01:58] #19 closed, assigned to moll

[2018-11-16 07:08] katjadanilova commented on #18
video võiks lisada avalehele ning samuti vahetada järjekorda: kaart jääb viimaseks ja loendur eelviimaseks.

on, jah.

[2018-11-16 13:35] moll commented on #18
Selge! Arvasin esialgu, et esilehe PDF pärineb vanal kujundusel, sest mäletasin, et kunagi juba videot paremale ülesse proovisime. Paistab aga, et mäletasin valesti — proovisime hoopis Eesti kaarti sinna.

Lisan kohe video ka esilehele. Kalendri lehele jääb ta alles, eks?

[2018-11-16 14:17] moll commented on #18
Lisasin video ja liigutasin kaarti.
Hetkel jäi "Tulemused" nupp ühes "Loe Rohkem" nuppudega keskele. Kas see on okei? Nõnda jääb ta mobiilsetes seadmetes ka koos teistega. Video seevastu hüppab esimeseks.

[2018-11-16 15:19] katjadanilova commented on #18
aitäh! näeb hea välja!

on OK!

jah!

[2018-11-16 15:20] #18 closed, assigned to moll

[2018-11-19 09:38] katjadanilova opened #20 "Tulemuste uuendusi ei kuvatata veebilehel"
vaata palun - eile öösel uuendas Maris tulemuste tabeli, aga veebilehele ei ole nad teed leidnud.

[2018-11-19 10:42] n2nsim opened #21 "19.11 seisuga sõnapilved"
![parem-ee-sonapilv-hirmud_19 11](https://user-images.githubusercontent.com/45167261/48702016-7e689500-ebf8-11e8-9d13-ee7cd583478e.png)
![parem-ee-sonapilv-lootused_19 11](https://user-images.githubusercontent.com/45167261/48702017-7f012b80-ebf8-11e8-8c0b-9bf3d26787d3.png)

[2018-11-19 16:38] moll commented on #20
Andestust! Toimetasin arvutiga, mis selle eest vastutas, ja monitoorija jäi pärast käivitamata. Lülitasin ta mõned tunnid tagasi taas sisse.

[2018-11-19 16:38] #20 closed, assigned to moll

[2018-11-20 17:11] moll commented on #21
Up @ https://kestame.rahvaalgatus.ee/tulemused/.

[2018-11-20 17:11] #21 closed, assigned to moll

[2018-11-20 17:12] moll commented on #14
Eeldan, et võib selle _issue_ ka sulgeda, kuna #21 sõnapilved on kenasti läbipaistvad.

[2018-11-20 17:12] #14 closed, assigned to moll

[2018-11-22 08:08] katjadanilova opened #22 "deadline: 25.11 Lisada nupp ankeediga Tulemused lehele"
palun lisa nüüd see nupp, millest me rääkisime.
Tulemused lehele, esimese paragrahvi lõppu pealkirjaga "Esita oma idee". Nupp võiks olla meie tavapärane sinine.
ankeedi ma sinuga jagasin, aga siin on ka link sellele, sest selle ei pea lehele embeddima: https://goo.gl/forms/aJs0yQAbZWPm4Eo42

Maris uuendab tänase päeva jooksul selle paragrahvi teksti ka, nii et selle on vaja homme ka uuendada.

[2018-11-22 08:46] moll commented on #22
Nupu lisan kohe, eks, mitte 25ndal?

[2018-11-22 08:52] katjadanilova commented on #22
väljendasin vist ennast segaselt.
ei-ei, 25ndal. ankeet ise on ametlikult alates 26ndast avatud.

[2018-11-22 09:13] moll commented on #22
Oki! Pühapäeva õhtul siis! :)

[2018-11-25 19:29] moll commented on #22
Nupp üleval.

Kas Markdownis kirjutatud pealkiri "Mis teeb enam muret?" on mõeldud ka asendama probleemigraafiku pealkirja? Kindel, et sõna "enim" sinna ei mõelnud panna, @marisjogeva?

[2018-11-25 19:48] marisjogeva commented on #22
Jah. Tahtsin sõna “probleem” kordusi tekstis vähemaks saada. Enim on õige, aitäh märkamast!

Maris

[2018-11-26 11:58] n2nsim commented on #14
uuendamiseks veebi:

![parem-ee-sonapilv-hirmud-26 11](https://user-images.githubusercontent.com/45167261/49012411-02cf9080-f182-11e8-8087-f6ec6476dd1d.png)

![parem-ee-sonapilv-lootused-26 11](https://user-images.githubusercontent.com/45167261/49012824-4f679b80-f183-11e8-8a01-d6a77294fc45.png)

[2018-11-26 12:01] moll commented on #14
@n2nsim, kindel, et koos "Made with Infogram" sildiga?

[2018-11-26 12:03] n2nsim commented on #14
saadan uued:

![parem-ee-sonapilv-lootused-26 11](https://user-images.githubusercontent.com/45167261/49013031-14199c80-f184-11e8-8758-b89a7d5b802c.png)
![parem-ee-sonapilv-hirmud-26 11](https://user-images.githubusercontent.com/45167261/49013032-14199c80-f184-11e8-884a-e31d6542d985.png)

[2018-11-26 13:12] moll commented on #14
Laivis.

[2018-11-29 11:42] moll commented on #22
Eeldan, et kõik praeguseks sobis. :) Panen seniks _issue_ kinni, kuniks midagi taas kerkib.

[2018-11-29 11:42] #22 closed, assigned to moll

[2018-12-10 07:39] marisjogeva commented on #22
Hei!

Kõik sobis ideaalselt. Aitäh!
Sätime täna veel tulemuste lõpud veebi ning anname Katjaga teada, kuidas veeb mõneks ajaks nö seisule panna, kuni tulemustega tööd teeme.

tervitades
Maris

[2018-12-14 10:54] katjadanilova opened #23 "Uuendada avaleht"
kuna meil esmaspäevaga lõpeb ideede korje, sooviksime teha muudatused, mis kestavad paar kuud.
muudatused on lihtsad. üks neist on avalehe muudatus (plokkide ümbertõstmine).

Tore oleks, et 17.12 see oleks juba valmis, aga kuna me pole sellest varem kokku leppinud, palun ütle mida sinu graafik lubab.

[Avaleht 14 12 2018.pdf](https://github.com/rahvaalgatus/kestame/files/2679774/Avaleht.14.12.2018

[2018-12-14 10:56] katjadanilova opened #24 "Tulemused lehelt võtta nupp "Esita oma idee" ära (17.12)"
kuni esmaspäevani võib veel üleval olla.

[2018-12-14 10:57] katjadanilova opened #25 "peita "Korraldajale" lehe"
see leht pole enam vajalik, saab seega peita.

[2018-12-14 11:01] katjadanilova commented on #2
@moll
- [ ] muutsin "Kalender" lehe tekstid. palun uuendada.

- [ ] palun panna alamlehe uueks pealkirjaks "Arutelud".

[2018-12-14 12:39] moll commented on #2
Kalender lehe pealkirjaks "Arutelud"? Aadressiks ka siis (vanalt suunamisega, loomulikult), eks?

[2018-12-14 12:42] moll commented on #23
Pole probleemi. Teen esmaspäevaks ära!
"Vaatan tagasisidet" viib Tulemuste lehele?

[2018-12-15 10:12] katjadanilova commented on #23
aitäh!

jah!

[2018-12-15 10:13] katjadanilova commented on #2
mõlemale jah :)

[2018-12-17 01:09] #25 closed, assigned to moll

[2018-12-17 01:14] #24 closed, assigned to moll

[2018-12-17 01:23] #2 closed, assigned to moll

[2018-12-17 01:55] moll commented on #23
Värskendatud avaleht üleval!

Eeldasin, et XXX-id "Algatuses sai igaüks osaleda..." sektsioonis tähistasid andmetest tuletatud numbreid. Asendasin nad seega arutelude tabeli ridade, osalenud inimeste ja ideede arvudega. Kui see polnud taotluslik, andke teada. Osalenud 300 asemele ilmus nüüd hoopis 264, sest nii palju arutelude tabeli tulpadest kokku tuli. :)

Kuhu "Loe rohkem" lingid all viima pid

[2018-12-17 01:57] moll commented on #23
Ahjaa, kuna meil tabelis veebi ja mitte-veebi ideede jaoks märget pole, asendasin teksti üldisema lausega. Kui teate täpselt veebi ideede arvu, võib selle tagasi panna.

[2018-12-17 13:43] n2nsim commented on #14
uued sõnapilved:

![parem-ee-sonapilv-hirmud](https://user-images.githubusercontent.com/45167261/50090913-86751e00-0212-11e9-9ac0-f07c860da240.png)
![parem-ee-sonapilv-lootused](https://user-images.githubusercontent.com/45167261/50090914-870db480-0212-11e9-8117-f5a74e5a19f0.png)

[2018-12-17 14:55] moll commented on #14
Laivis!

[2018-12-17 22:53] marisjogeva commented on #23
@moll mul on kolm arutelu, mis ei olnud registreeritud ja sellest ka osaliselt erinevused. Lisasin need arutelud registreerimisankeedi skriptiallikale ja sain numbrid klappima (341 osalejat!). Arutelusid peaks saama 32, aga millest tuleb automaatselt loendisse 165 ideed, ma ei mõista. Kui lugesin veebis joonisel kuvatud numbrid kokku sain 90?  Hea kui saame numbrid jonksu, siis saab nendest ka rää

[2018-12-17 23:09] moll commented on #23
Minu viga. Esilehe number oligi valesti arvutatud. Parandasin! :)

Küll aga hetkel on kolmel viimasel arutelul puudu asukoht ja skript ootab sellega taga, et need laivi saata. :) Eeldan, et neil üldse oli asukoht.

[2018-12-17 23:14] marisjogeva commented on #23
Neil oli asukoht, aga tegemist oli meetodikoolitusega. Ankeedis muideks pakkusime, et kui ei soovi arutelu/kontakte avalikustada, siis anna sellest teada ja võtame eraldi ühendust. Kas ma nii saaksin need arutelud jätta, et annan neile pealkirjad ning määran asukohana Tallinna, kuid võtame arutelujuhi kontaktid ära?

[2018-12-17 23:22] moll commented on #23
Võid. Võid neile kas panna suvalised Tallinna koordinaadid või kui ei õnnestu, võin koordinaatideta arutelud kaardilt peita. Hetkel ootab leht igalt arutelult asukohta.

[2019-01-04 20:48] moll commented on #23
Nägin, et olidki vahepeal lisanud kontaktideta arutelud. Tegin kindlaks, et nende puhul "Korraldaja" rida ei kuvata. Eelnevalt olid need vist kahe tühja komaga.

Muidu aga järeldan vaikusest, et kõik senine on sobinud ning võib _issue_ sulgeda. :)

[2019-01-04 20:48] #23 closed, assigned to moll

[2019-01-31 20:59] moll opened #26 "Tagasiside viited esilehel"
@marisjogeva:

Kuhu need nupud viima peaks? Faili? Nt mingisse PDFi? Üks PDF/dokument per probleemi valdkond?

[2019-01-31 21:03] marisjogeva commented on #26
Täpselt! Iga teema/tulba kohta tuleb ilus pdf. Kokku kolm. Nänsi pakkus, et parem oleks kui pdf-i asemel oleks veebilehed, aga kunagi ammu otsustasime Katjaga, et jääme kõige lihtsama lahenduse juurde. Kas Sulle näib loogiline?

Maris

[2019-02-01 13:26] moll commented on #26
PDFid on okeid, kuigi eks näis, kas kolm "Vaata tagasisidet" nuppu külastajatele selged on. Jään PDFide ootele igal juhul.

[2019-03-04 10:07] moll opened #27 "Sõelutud ettepanekud"
Nänsi:

[2019-03-04 10:10] moll commented on #27
Mobiilidel kasutamiseks ka nägemus? Olen kahevahel, kas _tabid_ (neli kategooriat ülal) kuvada _dropdown_ina või lihtsalt nelja kategooria tulbad üksteise järel (12 sektsiooni kokku). Kardan, et _dropdown_iga juhtub see, et kerides "Kogukondadele" tulbani on kõigil moblakasutajatel juba meelest läinud, et eksisteerisid kolm teist kategooriat ka ja nende valimiseks tuleks taas üles liikuda.

Mis ku

[2019-03-04 10:12] moll opened #28 ""Mida igaüks saaks ise ära teha?" sektsioon"
Nänsi:

[2019-03-04 10:12] moll commented on #28
Digitaliseeritakse ehk tehakse vektorformaati? SVG-ks? Või millekski interaktiivseks?

[2019-03-04 10:13] moll commented on #26
Kuna tundub, et "Sõelutud ettepanekud" sektsioon saab natkue teistlaadi kuju kui lihtalt kolm PDFi linki, siis käsitleme seda https://github.com/rahvaalgatus/kestame/issues/27 _issue_-s edasi.

[2019-03-04 10:13] #26 closed, assigned to nobody

[2019-03-05 08:49] n2nsim commented on #27
"Kõik ettepanekud" nupukeste jaoks PDF failid, seal on Eesti-sisene ja piirideülene ränne koos.
[Ränne_ettepanekud.pdf](https://github.com/rahvaalgatus/kestame/files/2930005/Ranne_ettepanekud.pdf)

[Sündimus_ettepanekud.pdf](https://github.com/rahvaalgatus/kestame/files/2930006/Sundimus_ettepanekud.pdf)

[Tööhõive_ettepanekud.pdf](https://github.com/rahvaalgatus/kestame/files/2930007/Toohoive_ette

[2019-03-05 08:54] n2nsim commented on #27
Jah, kogu info siin, need osad on markeeritud "Ettepanek" ja "Lühike tagasiside": https://docs.google.com/spreadsheets/d/1XoCctpGEQuAHiv_px7-Z-R9Q_9U4T88NEN0yspkf3os/edit?usp=sharing. Fail on veel muutumises tänase õhtuni.

Mobiilis kasutamiseks ei ole nägemust hetkel. Kas nii ei toimiks, kui sündimuse, tööhõive jms teemad oleksid I drop-down, sealt edasi klikkides tuleks sihtrühmade drop-downid j

[2019-03-05 08:58] n2nsim commented on #27
Reply @moll kommentaarile e-mailis, mis puudutab "Kokkuvõte ja edasised sammud" osa.
Su pakutu on igati mõistetav, kas ma saan õigesti aru, et saad selle osa siis ise n-ö ära teha?
Selle sisendinfo koguneb samuti siia, esmased sammud on tehtud, aga see protsess on veel toimumises ja pole lukku löödud: https://docs.google.com/spreadsheets/d/1XoCctpGEQuAHiv_px7-Z-R9Q_9U4T88NEN0yspkf3os/edit.

[2019-03-05 09:21] moll commented on #27
Süvenen varsti kirjutatusse, kuid mulle tundub, et ülemine link lubab kõigil faili muuta. Kuna GitHubi arutelu on siiski avalik, soovitan igaks juhuks muutmisõigus avalikkuselt ära võtta. ;)

[2019-03-05 10:41] n2nsim commented on #27
Uus teadmine mulle. Võtsin link-share'i maha, palun jaga minuga enda e-maili, millega GD kasutad.

[2019-03-05 12:32] moll commented on #27
Kas andri@dot.ee-le õiguse jagamine töötab?

[2019-03-07 08:26] n2nsim commented on #27
@moll - kas said failile ligipääsu? Kas vajad veel mingit sisendinfot? Millises ajaraamis sa tööle plaanid hakata?

[2019-03-07 09:20] moll opened #29 ""Kokkuvõtte ja edasiste sammude" sektsioon"
@n2nsim:

@moll:

@n2nsim (https://github.com/rahvaalgatus/kestame/issues/27#issuecomment-469596416):

Su pakutu on igati mõistetav, kas ma saan õigesti aru, et saad selle osa siis ise n-ö ära teha?
Selle sisendinfo koguneb samuti siia, esmased sammud on tehtud, aga see protsess on veel toimumises ja pole lukku löödud: https://docs.google.com/spreadsheets/d/1XoCctpGEQuAHiv_px7-Z-R9Q_9U4T88NEN0yspk

[2019-03-07 09:26] moll commented on #29
Ikooni või visuaali osas võid ise otsustada, @n2nsim. Mõne tabeli põhjal aga ettepanekute arv kokku lugeda on lihtne. Mis kujul te neid andmeid hoida mõtlesite? Samasse "Ettepanekute kokuvõte" tabelisse uus tulp infoga, kas ettepanek läks Rahvaalgatusse, arengukavasse või mujale?

[2019-03-07 09:40] moll commented on #27
Sain ligipääsu, aitäh!

Saan õigesti aru, et sõelutud ettepanekute sektsiooni andmed peaksid tulema tabelist "Ettepanekute kokkuvõte"? Kui nii, siis kohendan seda natuke masinloetavamaks — ehk viin kategooria iga rea juurde ja lisan tulpadele pealkirjad. Küll aga on pisut segane, kuidas ettepanekute read alamkategooriate (riigile, omavalitsustele, kogukondadele) vahel jaotuvad? Esialgu jäi mulje,

[2019-03-07 12:56] n2nsim commented on #29
Need andmed on selles tabelis:

<img width="1426" alt="screenshot 2019-03-07 at 14 55 25" src="https://user-images.githubusercontent.com/45167261/53958220-1f685680-40e9-11e9-9317-a22befbdaf51.png">

[2019-03-07 13:43] moll commented on #29
Mõtled kõigis neljas "- Süntees"-i tabelis? Need, või vähemalt see tulp, tuleks teha siis masinloetavaks. Masinloetav tähendab, et lepime kokku, millised sõnad on tulbas lubatud ja kas neid on alati üks või võib üks ettepanek ka mitmesse kohta jõuda. Siis vaatame üle, et kõik neli tabelit oleksid identsete ja samapealkirjaliste tulpadega ja ei sisaldaks ülearuseid ridu või tühjasid ridu.

Kui see

[2019-03-09 10:00] moll commented on #27
^ @n2nsim. ;)

[2019-03-09 10:07] n2nsim commented on #27
Seda oskab kommenteerida Maris, aga ma ei saa teda mingil põhjusel siin tagida. Seega saadan talle siinse meili peale.

[2019-03-10 10:23] n2nsim commented on #27
@moll Marise tagasiside:
Tabel on ehitatud üles selliselt, et on ettepanekud (riik, kov, kogukond) on kolmes eraldi veerus.
- riigi tasandi ettepanekutele on lisaks sõnastatud probleem (mocupil näha, kuidas see peaks jääma) ning ka #väljund (mis näitab kuhu in ettepanek suunatud. KOV ja kogukond tasandi loetelud on lihtsalt nimekirjana.
- riik-KOV-kogukond veerud ei ole omavahel seotud, kuigi osad

[2019-03-11 17:10] moll commented on #27
Jäi eile tänamata info eest! Jätan nad hetkel's kolme tulpa — see ei tohiks nende masinloetavust häirida. Pisut aga tabelit kohendan. Võtan selle täna õhtul ja homme hommikul ette.

Testime:  @marisjogeva :)

Mockupis olete lisanud nii "Edasi suunatud" sihtpunkti kui ka värvinud fraasi peale trelle (nt "#Laste ja perede arengukava) siniseks. Kas sihtpunkti veebiaadress oli plaanis hilisemas faasis

[2019-03-12 08:54] marisjogeva commented on #27
Tere!

Sihtpunkti oleks hea linkida küll, kuid võimalusel lisaks lingid hiljem (nt kui on arengukava koostamise leht olemas, või kui rahvaalgatus on päriselt üles läinud). Kas link peaks olema tabelis eraldi või piisab viite (nt #rahvaalgatusveeb) linkimisest tabelis, oskad vast öelda?

tervitades
Maris

[2019-03-12 12:37] moll commented on #27
Eraldi tulbas oleks parem. Esiteks seepärast, et tundub, et hüperlinke CSV-eksport ei toeta ning teiseks, tundub, et Google Spreadsheets ei luba üksikuid teksti sõnu niikuinii linkida — pead terve välja lingiks tegema. Siis tasuks juba kindluse mõttes _silt_ (`#rahvaalgatusveeb`) ka teksti välja tuua.

Kolme tulba lahendus tundub tasapisi kahtlaseks muutuvat. Kindel, et omavalitsuse jt grupid ei s

[2019-03-12 14:09] marisjogeva commented on #27
Eraldi veerg on muidu ok, aga kas sobib ka nii, et mõni #väljund jääb linkimata?
Räägin jätkuvalt ettepanekute väljundeid läbi ning mõned nendest veel muutuvad (see keeruline valitsuse moodustamise aeg ka paralleelselt…), nii et mõne ettepaneku taha võib jääda ministeeriumi nimetus. Seda linkida oleks absurdne.

Omavalitsustele ja kogukondadele mõeldud ideedele võin probleemid juurde tekitada, kui

[2019-03-12 15:04] moll commented on #27
Sobib ikka. Võime ka nii teha, et väljundi nimi ja link mõlemad on eraldi tulpades. Kui linki pole, jääb lihtsalt väljund sellise stiiliga nagu soovid. Kui jätad väljundi teksti sisse, võime jätta eraldi stiilimata.

Seda ei ole minu pärast vaja. Kui iga ettepanek eraldi real hoida, võid tulpi tühjaks ka jätta. Praegu on ju tegelikult sama — "probleem" on vaid riigiga seonduval ettepanekul.

Kui t

[2019-03-12 15:06] moll commented on #27
Selle all mõtlesin väljundi jätmist ettepaneku teksti sisse.

[2019-03-12 15:55] marisjogeva commented on #27
See tähendab siis ilma eraldi veeruta? Ja siis ka linkimata?
M.

[2019-03-12 16:27] moll commented on #27
Ettepanekuga ühes ei saa linkimist ega eraldi stiilimist, jap.

[2019-03-12 22:47] moll commented on #27
Tegin praeguse põhjal säherduselt: https://kestame.rahvaalgatus.ee/lahendused/. Läheb sinna suunda, mida ette kujutasite?

Kui tahame sõna "Probleem:" nt eraldi reale ja nt rasvaselt, tasuks ta kõigepealt tabelist eemaldada ("find & replace" aitab :) ja's lisan lehele.

Sildi/suunamise linkimise teemal juba rääkisime.

[2019-03-12 22:48] moll commented on #27
(Mobiilivaadet vaja natuke veel kohendada, sellele ei tasu veel tähelepanu pöörata)

[2019-03-12 22:49] moll commented on #28
@n2nsim, @marisjogeva, olete sellega ka kuskile vahepeal jõudnud?

[2019-03-12 22:51] moll commented on #29
@n2nsim, @marisjogeva, kui eelistame automaatselt ettepanekud sihtpunktide alusel kokku lugeda, siis tasuks kokkuvõtte tabelisse tõesti eraldi sihtpunkti tulp lisada ning iga ettepanek eraldi reale viia, nagu Marisega https://github.com/rahvaalgatus/kestame/issues/27 _issue_-s rääkisime.

[2019-03-13 07:39] n2nsim commented on #28
@moll Uurin Teelelt selle visuaali kohta

[2019-03-13 11:57] marisjogeva commented on #29
Sa mõtled seda google spreadsheeti tabelit, eksju? Prooviks. Kas teed ise? Teiseks küsin sellist asja, et kas ühele ettepanekule võin jätta ka kaks sihtpunkti? Arutasime korra Teelega, et mõnele ettepanekule võiks selline lahendus sobida. Paneksime sihtpunktidena kirja ka mõned katusorganisatsioonid, kes ettepaneku enda hoolde võtavad, kuid kes rahvaalgatuseks ainest ei näe.

terv
Maris

[2019-03-13 12:02] moll commented on #29
Võin tulba ja näidise valmis teha küll. Kas viin siis ka "Riik+omavalitsus+kogukond" tulpade asemel kõik eraldi ridadele? Siis saad vajadusel omavalitsuse ja kogukonna ettepanekutele ka sihtpunkte lisada.

Võid ikka. Aga lepime's kokku mingi mustri, kuidas linke ja nende nimesid ühes väljas struktureerida. Kuidas oleks "nimi", koolon, tühik ja link? Erinevad lingid on reavahega eraldatud. A la

[c

[2019-03-13 12:03] moll commented on #29
Ja kui linki pole, võid lihtsalt eraldi ridadele sihtpunktid lisada:

[code]

[2019-03-13 12:08] moll commented on #29
Edasiste sammude statistikaks saab siis lihtsalt linkide väljast nimed kokku lugeda ja kas kõik või vaid valitud kuskil kuvada, kui säherdusi ühekordseid sihtpunkte (nagu mu näited ülal) tahta ignoreerida.

[2019-03-13 14:08] marisjogeva commented on #29
Oot, aga ega see tähenda kogu tabeli ümber tegemist? Ma liiga kategoorilisi muutusi enam ette ei võtaks:)

Teiseks tuli mul meelde, et puudu on veel vahetekstid (enne mõlemat joonist selgitaksin, kuidas need kokku on saanud), mille saadaksin sulle asap, aga küsin, kas on pikkuse piiranguid?

Ega sa ole saanud tegeleda nende tagasiside failidega, mille Nänsi saatis. Kui need üleval, saaksin arutelu

[2019-03-13 14:35] moll commented on #29
"Ettepanekute kokkuvõte" tabelist räägime ikka, eks? Sõltub, mida me teha tahame. Kui tahame sihtpunktid eraldi tekstist välja tuua ja kuskile linkida, peame selle info kuidagi muust proosast välja tooma. Kui tahame sihtpunktid automaatselt kokku lugeda, siis tuleb ka kokku leppida, mis formaadis nad on. :)

Ei ole piiranguid. Kirjuta kui pikalt ja uhkelt soovid — võid teha ka Google Drive'i "kest

[2019-03-17 18:50] moll commented on #27
@n2nsim: Kas mahedamat/pastelsemat oraži teil poleks tulpade taustaks? Praegune tiba kriiskab ja pole kontrasti tõttu eriti mugav pikemaks lugemiseks.

[2019-03-18 06:48] n2nsim commented on #27
selline on, aga kardan, et valge tekst ei jää siis väga hea. katseta ja anna teada: #ffca9f

[2019-03-18 17:51] moll commented on #29
@marisjogeva, lihtsalt infoks, et olen hetkel ülemise kommentaari ja teiste lahtiolevate _issue_-de tagasiside ootel. ;)

[2019-03-18 22:29] marisjogeva commented on #29
Vabandust:
1) tahaks sihtpunkte linkida nii palju kui võimalik ja see oleks ka hea, kui samas tekiks ka loendur. Täitsin tabelit hetkel nii palju kui sain, aga mul tekkis paar küsimust ka:
 - kas sihtpunkti nimetus peaks olema sama mis #nimetus? Nt: kasutaks viiteid nagu #lastejaperedeprogramm, #Eesti2035. Küsimus on, et kas viite veerus peaks jääma samasuguse nimevormi juurde?
 - kui mul on ühel

[2019-03-19 14:36] moll commented on #29
Minu pärast võid trellid panemata jätta ja laseme arvutil need lehte genereerides lisada. Sa ei peaks sihtpunkte seletusse ka lisama, sest need juba eraldi nüüd on. :)

KOV ja kogukonna ettepanekutele sihtpunkte ei teeks - kõik ettepanekud lähevad ühtmoodi kohalikele omavalitsustele ja linnade/valdade liidule. Nii võib vast tabel sellisel kujul jääda, kuid kas loenduri tarbeks oleks vaja viited ka

[2019-03-19 14:45] moll commented on #29
@marisjogeva:
PDFid on üleval:
- https://kestame.rahvaalgatus.ee/ränne-ettepanekud.pdf
- https://kestame.rahvaalgatus.ee/sündimus-ettepanekud.pdf
- https://kestame.rahvaalgatus.ee/tööhõive-ettepanekud.pdf

[2019-03-19 15:23] moll commented on #29
@marisjogeva:
Lisasin sihtpunktide lingid lahenduste test-lehele: https://kestame.rahvaalgatus.ee/lahendused/. Näed, mil moel neid kuvada saame. Panin nad hetkel pealkirja "Ettepanek edasi suunatud" alla, kuid seda võime ka teisiti nimetada. Kui tahaksid samasugust rasvasemat pealkirja probleemi paragrahvile, tasub sõna "Probleem:" (ja koolon) kõigpealt ettepanekute tabeli tekstidest eemaldada. (S

[2019-03-19 15:26] moll commented on #29
Lugesin vist esialgu su KOV viidete küsimust valesti. Kui tahame KOVi ja vajadusel kogukondade viiteid ka kokku lugeda, siis peaksime need ka masinloetavaks tegema ehk nende jaoks eraldi tulba tegema.

[2019-03-19 15:29] moll commented on #29
Selle täpsustuseks: Kui soovid, et sihtpunktide nimed olekski alati ka ettepanekute teksti lõpus, siis võin need ka `government_links` tulbast automaatselt lisada, ilma et peaksid neid hoidma nii sihtpunktide tulbas kui ka ettepaneku teksti lõpus, nagu praegu.

[2019-03-19 16:20] marisjogeva commented on #29
Aga teeks nii, et jätan ettepanekusse trellid ja siis siukse modifitseeritud nime (nt MKMelamumajandus), kuid loendisse tuleb viisakam versioon (MKM elamumajanduse valdkond)?
Maris

Sent from my iPhone

[2019-03-19 16:28] moll commented on #29
Võid ka nii. Jätan linkide ette trellid alles või võtan sealt ära? Kellele need trellid üldse on? Tegu pole ju Twitteriga. :P

[2019-03-25 08:20] marisjogeva commented on #29
_PDFid on üleval:_
@moll kas saaksid need nüüd veebiga ka siduda. Avalehel viimane tabel "Lahendused probleemide kaupa" lõpus peaks olema ühe "vaata tagasisidet" nupu asemel kolm (iga tulba kohta üks), millele klikkides avaneks vastava teema tagasisidefail.

Trellid: Kas võiks jätta nii, et ettepanekute tabeli teksti jääb viide trellidega (eesmärk on, et ilma linki avamata saad lugedes kiire vihje

[2019-03-25 12:30] moll commented on #29
Arvasin, et need lähevad "Sõelutud Ettepanekute" tulpade alla ja sõelutute ülespanekuks ootan sult veel kinnitust. :) Kuna "Lahendused probleemide kaupa" kaob esilehelt, siis kindel, et mõtled seda?

Võid ka nii jätta.

[2019-03-25 12:31] moll commented on #29
Ka, kui tahad, et tekstis olev lingita trellikas oleks automaatselt linkide/sihtpunktide tulbast genereeritud, saab nii ka. Selleks ei pea sama infot kahes kohas haldama.

[2019-03-25 12:47] marisjogeva commented on #29
Need 3 “tagasiside” faili on koostatud esialgsete lahendusideede pōhjal. Sõelutud ettepanekud tekkisid järgmises etapis.

Esilehele asemel sobivad nüüd nupud “tulemuste” lehel olevate samade tulpade alla. Need jäävad ju ka alles, sõelutud ettepanekute ette? Ainult esilehel vahetame “lahendused probleemide kaupa “ sõelutud ettepanekute vastu, eksju?

Sent from my iPhone

[2019-03-25 13:04] moll commented on #29
Selge, panen PDFi lingid "Lahendused probleemide kaupa" tulpade lõppu!

Jep.

[2019-03-25 22:49] moll commented on #29
PDFide lingid tulpade lõpus.

[2019-03-25 22:52] moll commented on #29
Mis aga edasiste sammude kokkuvõtte visualisatsioonist saab? Linkide tulba põhjal arvutatud tulemused on hetkel https://kestame.rahvaalgatus.ee/lahendused/ lõpus näha. Mis nendega ette võtame?

[2019-03-25 22:58] moll commented on #27
Valge kindlasti nähtav ei jää, aga mustaga selline:
![Screenshot from 2019-03-25 22-54-00](https://user-images.githubusercontent.com/156837/54959417-f0f3d380-4f50-11e9-802a-68ee523b54c7.png)

Miski muu toon ehk? Kust see oranž välja tuli? See teie grupi silmadele loetav?

@marisjogeva: Mida sõelutud ettepanekutega ette võtame's? Mobiiliversioon kõrvale jättes, mis veel teha vaja oleks? Sisu ei pea

[2019-03-25 23:38] marisjogeva commented on #29
Praegu on veel vanad andmed? Olen tabelis viiteid iga päev uuendanud.
Nende numbrite põhjal peaks sündima nüüd erinevas suuruses mummud.

[2019-03-25 23:40] marisjogeva commented on #27
Ettepanekute struktuur on paigas ning peaaegu kõigil on ka viited olemas (va mõni üksik + rahvaalgatused, mis ei ole veel rahvaalgatuseks saanud). Kui neid saab jooksvalt tabeli kaudu uuendada, siis võiks mu arvates asap töösse panna.

[2019-03-25 23:46] moll commented on #29
Ununes vist peale PDFi nuppe uuendatud andmetega versioon üles lükata. :) Kae nüüd: https://kestame.rahvaalgatus.ee/lahendused/

[2019-03-26 12:07] marisjogeva commented on #29
Aitäh!
pdf-i nupud on täitsa OK ning mu meelest võiks ettepanekud ka laivi lubada. Kuidas saame aga “Edasised sammud” osale selle mootori taha panna, mis loetelust erinevate suurustega mummud teeb?

tervitades
Maris

[2019-03-27 21:56] moll commented on #27
Sõelutud ettepanekud laivis! Nii [esilehel](https://kestame.rahvaalgatus.ee/) kui ka [tulemuste](https://kestame.rahvaalgatus.ee/tulemused/) lehel. Otsustasin hetkel mobiilile kõik neli kategooriat korraga välja kuvada, sest üles-alla kerida on lihtsam ja selgem kui kategooriate vahetuse lahendused.

Läks laivi viimase tabeli sisuga. Kui uuendad ja soovid värskendust laivis näha, anna lihtsalt kui

[2019-03-27 21:56] #27 closed, assigned to nobody

[2019-03-27 21:58] moll commented on #29
Kas mingi teine visualisatsioon rõngaste asemel parem ei oleks? Tulpdiagramm? Lihtsalt viis ringi tundub natuke lahjavõitu mu meelest. :)

[2019-03-27 22:00] moll commented on #29
![Screenshot from 2019-03-27 21-59-34](https://user-images.githubusercontent.com/156837/55115112-a2bf0b80-50db-11e9-847a-bef0a57aed8a.png)

Panin esialgu lehe linkide ette ka trelle lisama. Tasub seda teha, @marisjogeva? Natuke kummalised mu meelest, sest tegu pole ju Twitteriga. :P

[2019-03-27 22:24] marisjogeva commented on #29
Tervitus!
Ma sellele “ettepanek edasi suunatud” osale trelle ei paneks. Tabelisse panin ka korrektsed nimed, millele trellid ei sobikski. Mõtlen praegu, et kui “Ettepanek edasi suunatud” osa jääb, siis pole ka ettepaneku teksti järel trellidega viiteid vaja?

[2019-03-27 22:27] marisjogeva commented on #27
Paneks viimaste tulpade pealkirjaks “Ettepanekud”, siis eristub “lahendustest”. Proovin enne homset vaheteksti ka kirjutada ja lisan tabelisse mõned nimed. Annan teada kui võiks uuendada.

[2019-03-27 22:32] moll commented on #29
Seda minagi. :P

Võtan aga trellid linkide eest ära.

[2019-03-27 22:34] moll commented on #27
Ümbernimetatud.

[2019-03-28 11:44] marisjogeva commented on #27
Kirjutasin mdi faili (tulemused) ühe vaheteksti.
Aga võib-olla oodata uuendamist õhtuni, kui jõuan korra uuesti veel ka ettepanekute tabeli üle käia uuema infoga.

M.

[2019-03-28 21:41] marisjogeva commented on #27
Käisin üle. Kõigil ettepanekutel on nüüd viited. Arvan, et ca nädala pärast on võimalik veel täpsustus ja siis saab teha staatiliseks.
tervitades
Maris

[2019-03-28 22:16] moll commented on #27
Värske sisu laivis.

[2019-03-29 10:10] n2nsim commented on #29
tulbad üsna igavad, oleme neid nii palju juba kasutanud. on sul veel ettepanekuid, mida kasutada?

[2019-04-03 20:57] moll opened #30 "Arutelude arvu summa"
@marisjogeva:

Nagu kunagi kokku lepitud sai, tulevad numbrid arutelude tabelist. Värskendasin seda ja nüüd on 32 arutelu 350 liikmega. Soovid, et asendame staatiliste numbritega või uuendad tabelit?

[2019-04-03 21:01] moll commented on #29
@marisjogeva:

Alati saab ka lihtsalt loendis numbri ja nime panna. :) Jäävad ringid? Kuidas? Horisontaalselt? Mobiili eriti horisontaalselt ei mahu. Äkki loetelu ja iga rea ees on pisut suurem ring kui järgmine? Ringi sees number? Mingi tekst ka sektsiooni ette?

[2019-04-03 21:14] moll commented on #30
Ma teie asemel viiks tabeli vastavusse oodatud numbritega. Nõnda ei ole tulevikus kellelgi segadust, miks need kaks andmestikku erinevad.

[2019-04-03 21:35] marisjogeva commented on #30
Täiendan algfaili kahe arutelu andmetega jaanuarikuust. Miskipärast arvasin, et enam ei ole andmed seotud.
M.

Sent from my iPhone

[2019-04-04 06:25] n2nsim commented on #29
@moll @marisjogeva Andri pakutu "Äkki loetelu ja iga rea ees on pisut suurem ring kui järgmine? Ringi sees number?" tundub igati ok.

[2019-04-04 11:48] moll commented on #30
Vahva. Anna teada, kui täiendatud.

[2019-04-05 09:35] marisjogeva commented on #30
Hei!
Lisasin arutelude andmed otse registreerimisvastuste vormi, kuid sellest vist ei piisa?
No võta nüüd seda mälukest - lihtsalt ei leidnud enam kusagilt ankeedi linki.

Ühtlasi tegin ühe muudatuse lehel “arutelud” - eelmisest korrast oli poolik lausejupp teksti lõppu jäänud.

[2019-04-05 09:38] marisjogeva commented on #29
Prooviks seda lahendust jah.

[2019-04-05 09:45] moll commented on #30
Tundub, et panid õigesse tabelisse. Nüüd lehel kenasti 358 osalejat.

Hmm, näen tõesti "ekute" lauset, kuid kuhu su muudatus on läinud, huvitav? https://drive.google.com/drive/folders/17AUpPMiJWnT9I-MAld5j_1wa1O-2cNAa -s asuvas arutelud.md failis on poolik lause ikka sees, kuigi viimati on ta sinu poolt muudetud...

[2019-04-05 09:47] marisjogeva commented on #30
Hmm, mul enam seda poolikut ei näita (avasin su lingi).
M.

[2019-04-05 10:08] moll commented on #30
Hehe, tõepoolest. Mul näitas enne, et muutsid viimati umbes 11 paiku täna, kuid nüüd vaadates näen 20 minutit tagasi muutust. Ju siis Google ei näidanud meile esialgu identset seisu või StackEdit ei sünkroniseerinud piisavalt kiirelt.

Lükkasin uuendatud tekstiga saidi üles.

[2019-04-05 10:08] #30 closed, assigned to nobody

[2019-04-09 14:19] moll commented on #29
Hei! Lisasin 5 populaarseimat linki [avalehele](https://kestame.rahvaalgatus.ee/) ja tulemuste lehele siniste ringidena. Kuidas tundub? Ehk on lause või kaks ka loendile ette panna, et selle olemust seletada? Kas jätan populaarseima 5 jaoks või kuvame kõik? Ülejäänud said vist pea kõik vaid ühe lahenduse ehk punkti endale.

[2019-04-09 14:20] moll commented on #28
Järeldan, et see visuaal jääb mängust välja. :) Kui kunagi soov taas kerkib, andke aga teada! Panen seniks _issue_ kinni.

[2019-04-09 14:20] #28 closed, assigned to nobody

[2019-04-09 14:50] n2nsim commented on #29
Minu arvates 5 TOP kategooriat on ok. Olen nõus, et loendi juures paar selgitavat lauset võiks olla. Kas Sa saad need anda, @marisjogeva?

[2019-04-09 19:24] marisjogeva commented on #29
Tervitus!
Sobib hästi. Lisasin paar lauset “tulemused” lehele. Andri, kas saad, palun, tõsta sealt ka esilehele.
M.

[2019-04-09 19:25] marisjogeva commented on #28
Aitäh!
Mõte on veel olemas, kuid praegu muude asjade tõttu teostus ootel.

M.

[2019-04-09 19:49] moll commented on #29
Laivis! Võib vist praegu ka selle _issue_ lõpetatuks lugeda. :) Nagu ikka, kui tahad värskeid tekste või tabelite andmeid veebilehel näha, anna lihtsalt märku. See on ühe käsu jooksutamise küsimus.

[2019-04-09 19:49] #29 closed, assigned to nobody

[2019-05-06 12:17] marisjogeva opened #31 "Tulemuste lehe lõpetamine"
@moll tegin veel paar täpsustust alamlehe "tulemused" teksti. Sinna on tekkinud loetelu ministeeriumite nimedega, mis tuleks linkida õigete pdf-dega (viimased saab kätte: https://www.dropbox.com/sh/zqfc1y650l2rzqy/AADQ8Wt4JfI0hhXUUI2-8JD8a?dl=0).

Eelmisel nädalal täpsustasin ka mõnda lauset ettepanekute tabelis. Sa mainisid, et nende laivi lubamiseks on vaja üht nupule vajutust:)

[2019-05-06 12:29] moll commented on #31
Hei

Praegu on nii esilehel kui ka tulemuste lehel top-5 edasist sammu. Kuhu need paigutame? Kas paragrahv edasistest sammudest tuleb selle asemele koos linkide? Jääb ainult "tulemused" lehele?

[2019-05-06 12:57] marisjogeva commented on #31
Ma jätaks olemasoleva joonise alles. Täiendust ei ole iseenesest esilehele vaja, kuid “tulemuste” lehel peaksid need näha olema.
1) Kas on ka variant, et esilehel jääb nii kuis on ja täiendused lubada laivi vaid “tulemuste” lehel? Kui see keerukam, las olla kôik ka esilehel täiendatuna.
2) Jätsin viimase lisatud lause ära  ja siis tegelikult ei muutugi muud kui ainult viimast joonist sissejuhatav

[2019-05-06 13:08] moll commented on #31
Joonise all mõtled top-5 nimekirja? Nii saab küll, et ettepanekud+top5 on esilehel, kuid "Edasised Sammud" koos linkidega mitte. Ettepanekute+top5 tekst peab mõlemal aga sama olema.

Võimalik, et Google ei näita mulle su viimast muudatust, sest ma näen, et viimase lingi teksti sisse on tulnud uuesti loetelu ministeeriumitest. Nagu ehk ka nägid, lisasin sõna "Ettepanekud" iga lingi ette. Nõnda on l

[2019-05-06 14:01] marisjogeva commented on #31
Jube segaseks läks:)
Kas võib jääda nii:

pealkiri Edasised sammud
tekst: Projektimeeskond….järgmiselt (jätkub loetelu)
tekst: Kui kõik ideed …..
joonis top5

“Ettepanekud” võib olla ministeeriumi nime ees küll

tervitades
Maris

[2019-05-06 15:41] moll commented on #31
Hehe, kahtlustasin, jah, et sellest _rääkimine_ ei ole kõige lihtsam. :P Liigutasin top5 muu teksti alla ja eemaldasin ta eelneva sissejuhatuse (koopia all). Viska pilk peale: https://kestame.rahvaalgatus.ee/tulemused/.

[2020-01-05 22:46] moll commented on #31
Võib vist eeldada, et kõik laabus edukalt. :) Head uue aasta jätku ka!

[2020-01-05 22:46] #31 closed, assigned to nobody

[2020-01-06 10:59] marisjogeva commented on #31
Head uue aasta jätku Sullegi!
Oli väga meeldiv koos töötada. Kõik laabus, aitäh!

tervitustega
Maris